{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}

<div class="row">
    <div class="span12">
        {{- breadcrumbs() }}
    </div>

    <div class="span8">
        <h1>{{ page_title }}</h1>

        <ul>
            <li><a href="{{ url_for('admin_logopics.index') }}">{{ _('Header pictures') }}</a></li>
            <li><a href="{{ url_for('admin_categories.index') }}">{{ _('Categories (genres)') }}</a></li>
            <li><a href="{{ url_for('admin_characters.index') }}">{{ _('Characters') }}</a></li>
            <li><a href="{{ url_for('admin_charactergroups.index') }}">{{ _('Character groups') }}</a></li>
            <li><a href="{{ url_for('admin_classifications.index') }}">{{ _('Classifications (events)') }}</a></li>
            <li><a href="{{ url_for('admin_htmlblocks.index') }}">{{ _('HTML Blocks') }}</a></li>
            <li><a href="{{ url_for('admin_staticpages.index') }}">{{ _('Static pages') }}</a></li>
            <li><a href="{{ url_for('admin_news.index') }}">{{ _('News') }}</a></li>
            <li><a href="{{ url_for('admin_abuse_reports.index') }}">Жалобы</a></li>
            <li><a href="{{ url_for('admin_votes.index') }}">Оценки</a></li>
            {% if current_user.is_superuser -%}
                <li><a href="{{ url_for('admin_authors.index') }}">{{ _('Authors') }}</a></li>
                <li><a href="{{ url_for('admin_registrations.index') }}">{{ _('Registrations') }}</a></li>
            {%- endif %}
        </ul>
    </div>

    <div class="span4">
        <div class="admin-log-list">
            <h3>{{ _('Last actions') }}</h3>
            {% if not log['items'] %}{{ _('(nothing)') }}{% endif %}
            {% for logitem in log['items'] %}
                {%- include 'includes/admin_log_item.html' with context -%}
            {%- endfor -%}
        </div>
    </div>

    <div class="span12">
        {{- breadcrumbs() }}
    </div>
</div>
{% endblock %}
