{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}

<div class="row">
    <div class="span12">
        {{- breadcrumbs() }}
        <h1>{{ page_title }}</h1>

        <ul>
            <li><a href="{{ url_for('admin_htmlblocks.index') }}">{{ _('HTML Blocks') }}</a></li>
            <li><a href="{{ url_for('admin_staticpages.index') }}">{{ _('Static pages') }}</a></li>
            <li><a href="{{ url_for('admin_notices.index') }}">{{ _('Notices') }}</a></li>
            {% if current_user.is_superuser -%}
                <li><a href="{{ url_for('admin_authors.index') }}">{{ _('Authors') }}</a></li>
            {%- endif %}
        </ul>
        {{- breadcrumbs() }}
    </div>
</div>
{% endblock %}
