{% extends base %}
{% from 'macro.html' import tag_link with context %}
{% block content %}
<div class="row">
    <div class="span12">
    <h1>{{ tag.name }}</h1>
    {{ tag_link(tag) }}
    {% if tag.is_alias %}
        →
        {{ tag_link(tag.is_alias_for, admin=True) }}
    {% endif %}

    <p>{{ _('Delete this tag?') }}</p>

    <form method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
                <a href="{{ url_for('admin_tags.update', pk=tag.id) }}">Назад</a>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
