{% extends base %}
{% from 'macro.html' import form_fields, tag_link with context %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>
            {% if edit %}
                {%- if tag.is_blacklisted %}<s>{% endif -%}
                {{ tag.name }}
                {%- if tag.is_blacklisted %}</s>{% endif -%}
            {% else %}
                Создание тега
            {% endif %}
        </h1>

        {% if saved %}<div class="alert-mini green">{{ _('Saved!') }}</div>{% endif %}

        {% if edit %}
            {{ tag_link(tag) }}
            {% if tag.is_alias %}
                →
                {{ tag_link(tag.is_alias_for, admin=True) }}
            {% endif %}
        {% endif %}

        <form class="form-horizontal" method="POST" enctype="multipart/form-data">

        {% if edit %}
        <div class="control-group">
            <label class="control-label">Создан</label>
            <div class="controls">
                <span style="display: inline-block; padding-top: 5px;">
                    <time datetime="{{ tag.created_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                        {{- tag.created_at|datetimeformat(DEFAULT_DATETIME_FORMAT) -}}
                    </time>
                    {% if tag.created_by %}
                        пользователем
                        <a href="{{ url_for('admin_authors.update', pk=tag.created_by.id) }}">{{ tag.created_by.username }}</a>
                    {% endif %}
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Последнее изменение</label>
            <div class="controls">
                <span style="display: inline-block; padding-top: 5px;"><time datetime="{{ tag.updated_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                    {{- tag.updated_at|datetimeformat(DEFAULT_DATETIME_FORMAT) -}}
                </time></span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Число рассказов</label>
            <div class="controls">
                <span style="display: inline-block; padding-top: 5px;">
                    {{ tag.published_stories_count }} опубликованных ({{ tag.stories_count }} всего)
                </span>
            </div>
        </div>

        {% if visible_tag_aliases %}
        <div class="control-group">
            <label class="control-label">Синонимы</label>
            <div class="controls">
                <span style="display: inline-block; padding-top: 5px;">
                    {% for alias in visible_tag_aliases -%}
                        {{ tag_link(alias, admin=True) }}
                    {% endfor %}
                </span>
            </div>
        </div>
        {% endif %}

        {% if hidden_tag_aliases %}
        <div class="control-group">
            <label class="control-label">Скрытые синонимы</label>
            <div class="controls">
                <span style="display: inline-block; padding-top: 5px;">
                    {% for alias in hidden_tag_aliases -%}
                        {{ tag_link(alias, admin=True) }}
                    {% endfor %}
                </span>
            </div>
        </div>
        {% endif %}
        {% endif %}

        {{ form_fields(form) }}
        <div class="controls">
            <input type="submit" value="{{ _('Save') }}" class="btn btn-primary" />
            {% if edit %}
                <a href="{{ url_for('admin_tags.delete', pk=tag.id) }}" class="btn">
                    {{ _('Delete') }}
                </a>
            {% endif %}
        </div>
        </form>
    </div>
</div>
{% endblock %}
