{% extends base %}
{% from 'macro.html' import paginator with context %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>

        <ul>
        {% for tag_category in tag_categories %}
            <li><a class="story-tag" data-category-id="{{ tag_category.category_id }}" href="{{ url_for('admin_tag_categories.update', pk=tag_category.id) }}">{{ tag_category.name }}</a></li>
        {% endfor %}
        </ul>

        {{ paginator(page_obj) }}

        <a href="{{ url_for('admin_tag_categories.create') }}">{{ _('Create') }}</a>
    </div>
</div>
{% endblock %}
