{% extends base %}
{% from 'macro.html' import form_fields with context %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>

        {% if saved %}<div class="alert-mini green">{{ _('Saved!') }}</div>{% endif %}

        {% if edit %}
        <span class="story-tag" data-category-id="{{ tag_category.category_id }}">{{ tag_category.name }}</span>
        {% endif %}

        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {{ form_fields(form) }}
        <div class="controls">
            <input type="submit" value="{{ _('Save') }}" class="btn btn-primary" />
            {% if edit %}
            <a href="{{ url_for('admin_tag_categories.delete', pk=tag_category.id) }}" class="btn">
                {{ _('Delete') }}
            </a>
            {% endif %}
            <a href="{{ url_for('admin_tag_categories.index') }}">Вернуться к списку категорий тегов</a>
        </div>
        </form>
    </div>
</div>
{% endblock %}
