{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs() }}
    </div>

    <div class="span12 reg-complete">
    <h1>Почтовый адрес изменён</h1>
    <p>Приветствуем!</p>
    <p>Новый почтовый адрес подтверждён и сохранён.{% if not current_user.is_authenticated %}<a href="{{ url_for('auth.login') }}">Заходите</a> на сайт.</p>{% endif %}
  </div>

    <div class="span12">
        {{- breadcrumbs() }}
    </div>
</div>
{% endblock %}
