{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row passres-confirm">
    <div class="span12">
        {{- breadcrumbs() }}
    </div>

    <div class="span12 page-special">
    <h1>Восстановление пароля</h1>
    {% if validlink %}
        <p>Введите новый пароль.</p>
    <form class="form-horizontal registration-form" action="" method="post">
      {{ form.csrf_token }}
      <fieldset>
        <div class="control-group">
          <label class="control-label">Пароль:</label>
          <div class="controls">
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
              {% for error in form.new_password1.errors %}
                <p class="help-inline">{{ error }}</p>
               {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Пароль (опять):</label>
          <div class="controls">
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
              {% for error in form.new_password2.errors %}
                <p class="help-inline">{{ error }}</p>
               {% endfor %}
            {% endif %}
          </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="control-group error"><span class="help-inline">{{ message }}</span></div>
            {% endfor %}
        {% endwith %}
        <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Изменить пароль</button>
                    </div>
                </div>
            </fieldset>
      </form>
    {% else %}
        <h2>Ошибка восстановления пароля</h2>
        <p>Ссылка, по которой вы перешли, некорректна или не существует.</p>
        <p>Попробуйте восстановить пароль ещё раз с самого начала.</p>
    {% endif %}
  </div>

    <div class="span12">
        {{- breadcrumbs() }}
    </div>
</div>
{% endblock %}
