{% extends base %}
{% block content %}
<div class="row passres-form">
    <div class="span12 passres-form-text">
    <h1>Восстановление пароля</h1>
    <form class="form-horizontal registration-form" action="" method="POST">
      {{ form.csrf_token }}
      <fieldset>
        <div class="control-group{% if form.email.errors %} error{% endif %}" style="max-width: 700px;">
          <label class="control-label">Ваш e-mail:</label>
          <div class="controls">
            {{ form.email }}
            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <p class="help-inline">{{ error }}</p>
               {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
