{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row passres-complete">
    <div class="span12">
        {{- breadcrumbs() }}
    </div>

    <div class="span12 page-special">
    <h1>Восстановление пароля - yay!</h1>
        <p>Всё чудесно, пароль сменён! <a href="{{ url_for('auth.login') }}">Войди же</a> в библиотеку и наполни свой мозг понями.</p>
    </div>

    <div class="span12">
        {{- breadcrumbs() }}
    </div>
</div>
{% endblock %}
