{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs() }}
    </div>

    <div class="span12 reg-complete">
        <h1>Регистрация в библиотеке</h1>
        <p>Спасибо за уделённое время. На ваш e-mail отправлен код подтверждения. Необходимо подтвердить регистрацию, просто кликнув по указанной ссылке.</p>
  </div>

    <div class="span12">
        {{- breadcrumbs() }}
    </div>
</div>
{% endblock %}
