{% extends base %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>
            <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal registration-form">
                <fieldset>
                {% for field in form %}
                    {% if field.widget.input_type == 'hidden' %}{{ field }}{% else %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        <label class="control-label">{{ field.label.text }}</label>
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-inline">
                                {% for error in field.errors %}
                                    {{- error }}{% if not loop.last %}; {% endif -%}
                                {% endfor %}
                                </span>
                            {% else %}
                                {%- if field.description -%}
                                    <span class="help-inline small">{{ field.description }}</span>
                                {%- elif field.name == 'username' and username_help -%}
                                    <span class="help-inline small">{{ username_help }}</span>
                                {%- endif -%}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}{% endfor %}
                {% if captcha and captcha.cls -%}
                    <div class="control-group{% if captcha_error %} error{% endif %} js-captcha-field">
                        {% if captcha_error %}<span class="help-inline">{{ captcha_error }}</span>{% endif %}
                        <div class="controls">
                            <div>Докажите, что вы не робот:</div>
                            <div class="captcha-wrap js-captcha-wrap">
                                {%- include 'captcha/captcha.html' with context -%}
                            </div>
                        </div>
                    </div>
                {%- endif %}
                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        <div class="control-group error"><span class="help-inline">{{ message }}</span></div>
                    {% endfor %}
                {% endwith %}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
