{% extends base %}
{% from 'macro.html' import atom_feed with context %}
{% from 'macro.html' import paginator with context %}

{% block feeds %}
    {{ atom_feed(url_for('feeds.chapters'), _('Updates feed'), False) }}
{% endblock %}

{% block feeds_footer %}
    <li>{{ atom_feed(url_for('feeds.chapters'), _('Updates feed'), True) }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span8">
        <h1>{{ page_title }}</h1>
        <div id="chapters-list">
            {% include "includes/chapters_excerpts.html" %}
        </div>
        {% if chapters %}{{ paginator(page_obj) }}{% endif %}
    </div>
</div>
{% endblock %}
