{% if full and can_show_stars %}
    <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <meta itemprop="ratingValue" content="{{ '{:.1f}'.format(vote_average) }}" />
        <meta itemprop="ratingCount" content="{{ vote_total }}" />
    </span>
{% endif %}

{% if story.published or vote_total > 0 -%}
{% if current_user.is_staff -%}<a href="{{ url_for('admin_votes.index') }}?story_id={{ story.id }}">{% endif -%}
<span class="starblock" title="
{%- if can_show_stars -%}
    Средняя оценка: {{ '{:.1f}'.format(vote_average) }}; {{ ngettext('%(num)d vote', '%(num)d votes', vote_total) }}{% if not can_show_stars_for_anon %} (голосов ещё мало){% endif %}
{%- else -%}
    Голосов ещё мало
{%- endif -%}"{% if not can_show_stars_for_anon %} style="opacity: 0.5;"{% endif %}>
    {% for star in star_ids %}<span class="starvote star-{{ star }}"></span>{% endfor %}
</span>
{%- if current_user.is_staff -%}</a>{% endif -%}
{%- endif %}
