{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}

<div class="row"><div class="span12">
    {{- breadcrumbs([[url_for('admin_index.index'), _('Administration')]]) }}
    <h1>{{ page_title }}</h1>

    <div class="admin-index">
        <table class="admin-index-table">
        <thead><tr>
            <th>Рассказ</th>
            <th>{{ _('Username') }}</th>
            <th>Оценка</th>
            <th>Дата</th>
        </tr></thead>

        <tbody>
        {%- for vote in votes %}<tr data-id="{{ vote.id }}">
            <td class="col-vote-story-title">
                <strong><a href="{{ url_for('story.view', pk=vote.story.id) }}">{{ vote.story.title }}</a></strong>
            </td>

            <td class="col-user-name">
                <img src="{{ vote.author.bl.get_small_avatar_url() }}" alt="" />
                <a href="{{ url_for('admin_authors.update', pk=vote.author.id) }}">
                    {{- vote.author.username -}}
                </a>
            </td>

            <td>{{ vote.vote_value }}</td>

            <td>
                <time datetime="{{ vote.updated.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                    {{ vote.updated|datetimeformat('d MMMM Y, HH:mm') }}
                </time>
            </td>
        </tr>{% endfor -%}
        </tbody>
        </table>

        <div class="admin-index-filters">
            <form action="{{ url_for('admin_votes.index') }}" method="GET">
                {% for k, v in args.items() if k not in ['story_id', 'username', 'page'] %}
                    <input type="hidden" name="{{ k }}" value="{{ v }}" />
                {%- endfor %}

                <label for="story_id">ID рассказа:</label>
                <input type="text" id="story_id" name="story_id" class="admin-input-text-full" value="{{ args.story_id or '' }}" /><br/>

                <label for="username">{{ _('Username') }}:</label>
                <input type="text" id="username" name="username" class="admin-input-text-full" value="{{ args.username or '' }}" /><br/>

                <button type="submit" class="btn btn-primary">{{ _('Search') }}</button>
            </form>
        </div>

        <br style="clear: both;" />
    </div>

    <!-- Пагинация: начало вывода -->
    <div class="pagination center">
        {% for page_id in page_obj.iter_pages() %}
            <a href="{{ modified_url('admin_votes.index', args, page=page_id) }}" class="btn{% if page_id == page_obj.number %} btn-primary{% endif %}">{{ page_id }}</a>
        {% endfor %}
    </div>
    <!-- Пагинация: конец вывода -->

    {{- breadcrumbs([[url_for('admin_index.index'), _('Administration')]]) }}
</div></div>
{% endblock %}
