{% extends base %}
{% block content %}
<div class="row">
    <div class="span12">
    <h1>{{ staticpage.name }} — {{ staticpage.title or staticpage.name }} ({{ staticpage.lang }})</h1>

    <p>{{ _('Delete this static page?') }}</p>

    <form method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
                <a href="{{ url_for('admin_staticpages.update', name=staticpage.name, lang=staticpage.lang) }}">Назад</a>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
