{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
        {% set static_title = '{} — {} ({})'.format(staticpage.name, staticpage.title or staticpage.name, staticpage.lang) %}
        {{- breadcrumbs([
            [url_for('admin_index.index'), _('Administration')],
            [url_for('admin_staticpages.index'), _('Static pages')],
            [url_for('admin_staticpages.update', name=staticpage.name, lang=staticpage.lang), static_title]
        ]) }}
    <h1>{{ static_title }}</h1>

    <p>{{ _('Delete this static page?') }}</p>

    <form method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
            </div>
        </div>
    </form>
        {{- breadcrumbs([
            [url_for('admin_index.index'), _('Administration')],
            [url_for('admin_staticpages.index'), _('Static pages')],
            [url_for('admin_staticpages.update', name=staticpage.name, lang=staticpage.lang), static_title]
        ]) }}
    </div>
</div>
{% endblock %}
