{% extends base %}
{% from 'macro.html' import paginator with context %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>

        <ul class="admin-items-list">
        {% for staticpage in staticpages %}
            <li><a href="{{ url_for('admin_staticpages.update', name=staticpage.name, lang=staticpage.lang) }}">{{ staticpage.name }} — {{ staticpage.title or staticpage.name }} ({{ staticpage.lang }})</a></li>
        {% endfor %}
        </ul>

        {{ paginator(page_obj) }}

        <a href="{{ url_for('admin_staticpages.create') }}">{{ _('Create') }}</a>
    </div>
</div>
{% endblock %}
