{% extends base %}
{% from 'macro.html' import form_fields with context %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>

        {% if edit %}<p><a href="{{ url_for('staticpages.index', name=staticpage.name) }}" target="_blank">{{ url_for('staticpages.index', name=staticpage.name, _external=True) }}</a></p>{% endif %}

        {% if saved %}<div class="alert-mini green">{{ _('Saved!') }}</div>{% endif %}

        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {{ form_fields(form) }}
        <div class="controls">
            {% if not edit or can_edit %}
            <input type="submit" value="{{ _('Save') }}" class="btn btn-primary" />
            {% if edit %}<a href="{{ url_for('admin_staticpages.delete', name=staticpage.name, lang=staticpage.lang) }}" class="btn">{{ _('Delete') }}</a>{% endif %}
            {% else %}
            {{ _("You don't have access to edit this Jinja2 template.") }}
            <br/>
            {% endif %}
            <a href="{{ url_for('admin_staticpages.index') }}">Вернуться к списку статических страниц</a>
        </div>
        </form>
    </div>
</div>
{% endblock %}
