{% extends 'email/base.html' %}
{% block body %}
Кто-то, может, даже вы, зарегистрировался на сайте <a href="{{ url_for('index.index', _external=True) }}" target="_blank">{{ url_for('index.index', _external=True) }}</a>, указав этот почтовый адрес.<br/>
<br/>
Для активации вашего аккаунта необходимо перейти по ссылке:<br/>
<br/>
<a href="{{ url_for('auth.registration_activate', activation_key=activation_key, _external=True) }}" target="_blank">{{ url_for('auth.registration_activate', activation_key=activation_key, _external=True) }}</a><br/>
<br/>
Если это были не вы — смело удаляйте это письмо.
{% endblock %}
