<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style type="text/css">a,a:visited{color:#0086E5;} a:hover{color:#ff3368;}</style>
</head>
<body>
<table id="wrapper" width="100%" align="center" cellpadding="10" cellspacing="0" style="border-collapse: collapse; border: none;">
<tr><td border="0" bgcolor="#1D2A4F" style="border: none; background-color: #1D2A4F; font-family: Georgia, Times, serif; font-size: 20px; color: #CDCAE9;">{{ SITE_NAME }}</td></tr>
<tr><td border="0" style="border: none; font-family: Arial, sans-serif; font-size: 12px;">{% block body %}{% endblock %}</td></tr>
</table>
</body>
</html>
