{% extends 'email/base.html' %}
{% import 'email/macro.html' as macro with context %}

{% block body %}
Для аккаунта {{ macro.userlink(user.id, user.username) }} на сайте <a href="{{ url_for('index.index', _external=True) }}" target="_blank">{{ url_for('index.index', _external=True) }}</a> был указан новый почтовый адрес, на который прислано данное письмо.<br/>
<br/>
Для сохранения нового адреса необходимо перейти по ссылке:<br/>
<br/>
<a href="{{ url_for('auth.new_email_activate', activation_key=activation_key, _external=True) }}" target="_blank">{{ url_for('auth.new_email_activate', activation_key=activation_key, _external=True) }}</a><br/>
<br/>
Если вы ничего такого не делали — смело удаляйте это письмо.
{% endblock %}
