{% extends 'email/base.html' %}
{% block body %}
Для аккаунта <a href="{{ url_for('author.info', user_id=user.id, _external=True) }}" target="_blank" style="color: #999999; font-weight: bold;">{{ user.username }}</a> на сайте <a href="{{ url_for('index.index', _external=True) }}" target="_blank">{{ url_for('index.index', _external=True) }}</a> был указан новый почтовый адрес <b>{{ new_email }}</b> вместо данного.<br/>
<br/>
Если вы не меняли его, срочно смените пароль и установите старую почту обратно.
{% endblock %}
