{% macro userlink(id, name) -%}
    {%- if id and name -%}
        <a href="{{ url_for('author.info', user_id=id, _external=True) }}" target="_blank" style="color: #999999; font-weight: bold;">{{ name or id }}</a>
    {%- else -%}
        <span style="color: #999999; font-weight: bold;">{{ name or 'Гость' }}</span>
    {%- endif -%}
{%- endmacro %}


{% macro storylink(id, title) -%}
    <a href="{{ url_for('story.view', pk=id, _external=True) }}" target="_blank"><b>{{ title }}</b></a>
{%- endmacro %}


{% macro comment(comment) -%}
<div style="padding: 8px 12px 8px; border-left: 0.2em solid #dddddd;">
    <div>{{ comment.text_as_html|safe }}</div>
    <div style="color: #999999;">
        {% if comment.author %}
            {{- userlink(comment.author.id, comment.author.username) -}}
        {% else %}
            {{- userlink(None, None) -}}
        {% endif %}
        <span>{{ comment.date|datetimeformat(DEFAULT_DATETIME_FORMAT) }}</span>
        {{ caller() if caller else '' }}
    </div>
</div>
{%- endmacro %}


{% macro story_info_plain(story) -%}
{%- autoescape false -%}
«{{ story.title }}» ({{ ngettext("%(num)d word", "%(num)d words", story.words) }})
{{ url_for('story.view', pk=story.id, _external=True) }}

{{ story.summary|striptags }}
{%- endautoescape -%}
{%- endmacro %}


{% macro story_info_html(story) -%}
{%- set main_tags = story.bl.get_main_tags(sort=True) -%}

<h3 style="font-family: 'Trebuchet MS', Arial, sans-serif; font-weight: 400; font-size: 20px; line-height: 20px; margin: 0 0 5px;">
    <a href="{{ url_for('story.view', pk=story.id, _external=True) }}" style="color: #0086e5;">{{ story.title }}</a>
    {% if not story.original -%}
        <sup style="color: #aaa; font-size: 12px;">перевод</sup>
    {%- endif %}
    {%- set status = story.status_string %}
    {% if status == 'finished' -%}
        <sup style="color: green; font-size: 12px;">завершен</sup>
    {%- elif status == 'freezed' -%}
        <sup style="color: red; font-size: 12px;">заморожен</sup>
    {%- else -%}
        <sup style="color: #f2c200; font-size: 12px;">не&nbsp;завершен</sup>
    {% endif %}
</h3>

<p style="color: #999;">
{%- for st in main_tags -%}
    <a
        style="margin: 0 4px 2px 0; padding: 2px 7px; color: #fff; display: inline-block; line-height: 16px; text-decoration: none; border-radius: 5px;{% if st.tag.get_color() %} background-color: {{- st.tag.get_color() -}};{% endif %}"
        href="{{ url_for('tags.tag_index', tag_name=st.tag.iname, _external=True) }}">
            {{- st.tag.name -}}
    </a>
{% endfor -%}
{{ ngettext("%(num)d word", "%(num)d words", story.words) }}
</p>

<p>{{ story.summary|striptags }}</p>
{%- endmacro %}
