{% extends 'email/base.html' %}
{% import 'email/macro.html' as macro %}

{% block body %}
Кто-то, может, даже вы, запросил восстановление пароля для аккаунта {{ macro.userlink(user.id, user.username) }} в библиотеке рассказов <a href="{{ url_for('index.index', _external=True) }}" target="_blank">{{ url_for('index.index', _external=True) }}</a>, привязанного к этому почтовому адресу.<br/>
<br/>
Если это и в самом деле ваша работа, то нажмите на ссылку ниже и восстановите пароль.<br/>
<br/>
<a href="{{ url_for('auth.password_reset_confirm', activation_key=activation_key, _external=True) }}" target="_blank">{{ url_for('auth.password_reset_confirm', activation_key=activation_key, _external=True) }}</a><br/>
<br/>
Если же письмо получено ошибочно — смело удаляйте его.
{% endblock %}
