{% extends 'email/base.html' %}
{% block body %}
Кто-то, может, даже вы, запросил восстановление пароля для аккаунта <a href="{{ config['SITE_URL'] }}{{ url_for('author.info', user_id=user.id) }}" target="_blank" style="color: #999999; font-weight: bold;">{{ user.username }}</a> в библиотеке рассказов <a href="{{ config['SITE_URL'] }}/" target="_blank">{{ config['SITE_URL'] }}/</a>, привязанного к этому почтовому адресу.<br/>
<br/>
Если это и в самом деле ваша работа, то нажмите на ссылку ниже и восстановите пароль.<br/>
<br/>
<a href="{{ config['SITE_URL'] }}{{ url_for('auth.password_reset_confirm', activation_key=activation_key) }}" target="_blank">{{ config['SITE_URL'] }}{{ url_for('auth.password_reset_confirm', activation_key=activation_key) }}</a><br/>
<br/>
Если же письмо получено ошибочно — смело удаляйте его.
{% endblock %}
