{% extends base %}
{% from 'macro.html' import paginator with context %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>

        <ul>
        {% for newsitem in news %}
            <li><a href="{{ url_for('admin_news.update', pk=newsitem.id) }}">{{ newsitem.name }} — {{ newsitem.title or newsitem.name }}</a></li>
        {% endfor %}
        </ul>

        {{ paginator(page_obj) }}

        <a href="{{ url_for('admin_news.create') }}">{{ _('Create') }}</a>
    </div>
</div>
{% endblock %}
