{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}

<div class="row">
    <div class="span12">
        {{- breadcrumbs([[url_for('admin_index.index'), _('Administration')]]) }}
        <h1>{{ page_title }}</h1>

        <ul>
        {% for newsitem in news %}
            <li><a href="{{ url_for('admin_news.update', pk=newsitem.id) }}">{{ newsitem.name }} — {{ newsitem.title or newsitem.name }}</a></li>
        {% endfor %}
        </ul>

        <!-- Пагинация: начало вывода -->
        <div class="pagination center">
            {% for page_id in page_obj.iter_pages() %}
                <a href="{{ url_for('admin_news.index', page=page_id) }}" class="btn{% if page_id == page_obj.number %} btn-primary{% endif %}" name="page">{{ page_id }}</a>
            {% endfor %}
        </div>
        <!-- Пагинация: конец вывода -->

        <a href="{{ url_for('admin_news.create') }}">{{ _('Create') }}</a>

        {{- breadcrumbs([[url_for('admin_index.index'), _('Administration')]]) }}
    </div>
</div>
{% endblock %}
