{% from 'macro.html' import tag_link %}
{% from 'macro.html' import character_picture %}

{% macro tags_block(prepared_tags, story_id, with_secondary=True) %}
    <span class="tags-list">
        {% for tag in prepared_tags.primary %}
            {{ tag_link(tag) -}}
        {% endfor %}
        {% if with_secondary and prepared_tags.secondary -%}
            <input id="secondary-tags-{{ story_id }}" type="checkbox" class="show-tags-trigger"/>
            <label role="button" aria-label="Показать все теги" title="Показать все теги" class="story-tag" for="secondary-tags-{{ story_id }}">…</label>
            {% for tag in prepared_tags.secondary %}
                {{ tag_link(tag, secondary=True) -}}
            {% endfor %}
        {%- endif %}
        {% if with_secondary and prepared_tags.spoiler -%}
            <input id="spoiler-tags-{{ story_id }}" type="checkbox" class="show-spoiler-trigger"/>
            <label role="button" class="story-tag" for="spoiler-tags-{{ story_id }}">Показать спойлеры</label>
            {% for tag in prepared_tags.spoiler %}
                {{ tag_link(tag, spoiler=True) -}}
            {% endfor %}
        {%- endif %}
    </span>
{% endmacro %}

{% macro characters_block(prepared_characters) %}
    <span class="character-list">
        {%- for character in prepared_characters -%}
            <a href="{{ url_for('search.simple', search_type='character', search_id=character.id) }}">{{ character_picture(character) }}</a>
        {%- endfor -%}
    </span>
{% endmacro %}
