{% from 'macro.html' import tag_link with context %}

{% macro tags_block(prepared_tags, story_id, with_secondary=True) %}
    <span class="tags-list">
        {% for tag in prepared_tags.primary %}
            {{ tag_link(tag) -}}
        {% endfor %}
        {% if with_secondary and prepared_tags.secondary -%}
            <input id="secondary-tags-{{ story_id }}" type="checkbox" class="show-tags-trigger"/>
            <label role="button" aria-label="Показать все теги" title="Показать все теги" class="story-tag" for="secondary-tags-{{ story_id }}">…</label>
            {% for tag in prepared_tags.secondary %}
                {{ tag_link(tag, secondary=True) -}}
            {% endfor %}
        {%- endif %}
        {% if with_secondary and prepared_tags.spoiler -%}
            <input id="spoiler-tags-{{ story_id }}" type="checkbox" class="show-spoiler-trigger"/>
            <label role="button" aria-label="Показать спойлеры" title="Показать спойлеры" class="story-tag" for="spoiler-tags-{{ story_id }}">…</label>
            {% for tag in prepared_tags.spoiler %}
                {{ tag_link(tag, spoiler=True) -}}
            {% endfor %}
        {%- endif %}
    </span>
{% endmacro %}
