{% extends base %}
{% block content %}
<div class="row">
    <div class="span12">
    <h1>{{ character.name }}</h1>

    <p>{{ _('Delete this character?') }}</p>

    <form method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
