{% extends base %}
{% from 'macro.html' import paginator with context %}
{% from 'macro.html' import character_picture %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>

        <ul>
        {% for character in characters %}
            <li>
                <a href="{{ url_for('admin_characters.update', pk=character.id) }}">{{ character_picture(character) }} {{ character.name }}</a>
            </li>
        {% endfor %}
        </ul>

        {{ paginator(page_obj) }}

        <a href="{{ url_for('admin_characters.create') }}">{{ _('Create') }}</a>

    </div>
</div>
{% endblock %}
