@define-mixin rounded-footer {
    border-radius: 0 0 .5em .5em;
}
@define-mixin background-dark {
    background: var(--color-primary-darkest) repeat 0 0;
}
@define-mixin overhang {
    width: calc(100% + var(--biggest-padding));
    justify-self: center;
}
