:root {
    --max-lines: 4;
    --slides-height: 13rem;
    --slides-border: 1rem;
    --bullets-margin: 0.5rem;
    --bullets-size: 0.75em;
    --bullets-color-main: #999;
    --bullets-color-accent: #555;
    --formatting-color: #555;

    --color-red: #a64e3a;
    --color-yellow: #edb647;
    --color-orange: #ed9a47;
    --color-green: #7bb32d;
    --color-blue: #4f67a8;
    --color-violet: #644fa8;
}
