<div class="chapter-text" id="chapter{{ chapter.id }}">
    {% if chapter.title or chapter.order != 1 -%}
        <h1>{{ chapter.autotitle }}{% if chapter.draft %} <sup class="draft">{{ _('Draft') }}</sup>{% endif %}</h1>
    {%- endif %}
    {% if chapter.notes %}
        <blockquote>{{ chapter.notes_as_html }}</blockquote>
    {% endif %}
    {{ chapter.text_as_html }}
    {% if next_chapter %}
        <p><a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=next_chapter.order) }}">Читать дальше</a></p>
    {% elif not story.finished and not story.freezed and not allchapters %}
        <p><strong>Продолжение следует...</strong></p>
    {% endif %}
</div>
