{% for chapter, story in chapters %}
    <div class="story-item">
        <h3><a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=chapter.order) }}">{{ chapter.title }}</a></h3>
          <p><a href="{{ url_for('story.view', pk=story.id) }}">{{ story.title }}</a> от <a class="authorlink" href="{{ url_for('author.info', user_id=story.authors[0].id) }}">{{ story.authors[0].username }}</a>{% if chapter.first_published_at %} {{ chapter.first_published_at|timedeltaformat }} назад{% endif %}</p>
    </div>
{% endfor %}
