<div class="chapter-text chapter-text-block">
    <h1>{% if chapter %}<a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=chapter.order) }}">{% endif %}{{ preview_title }}{% if chapter %}</a>{% endif %} {{ _('(preview)') }}</h1>

    <blockquote><span style="font-size: 0.75em">{{ ngettext("%(num)d word", "%(num)d words", preview_words) }}</span></blockquote>

    {% if notes_preview_html %}
        <blockquote>{{ notes_preview_html }}</blockquote>
    {% endif %}

    {{ preview_html }}
</div>
