<div class="chapter-text chapter-text-block js-story-formatting" id="chapter{{ chapter.id }}">
    {% if chapter.title or chapter.order != 1 -%}
        <h1>
            {% if chapter_edit_mode %}<a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=chapter.order) }}">{% endif %}{{ chapter.autotitle }}{% if chapter_edit_mode %}</a>{% endif %}
            {% if chapter.draft %}<sup class="story-mark draft">{{ _('Draft') }}</sup>{% endif %}
            {% if not chapter_edit_mode and story.bl.editable_by(current_user) %}
                <a class="btn btn-warning btn-mini" href="{{ url_for('chapter.edit', pk=chapter.id) }}">{{ _('Edit chapter') }}</a>
            {% endif %}
        </h1>
    {%- elif not chapter_edit_mode and story.bl.editable_by(current_user) -%}
        <h1><a class="btn btn-warning btn-mini" href="{{ url_for('chapter.edit', pk=chapter.id) }}">{{ _('Edit chapter') }}</a></h1>
    {%- endif %}
    {%- set notes = chapter.notes_as_html -%}
    {% if notes %}
        <blockquote class="chapter-notes">{{ notes }}</blockquote>
    {% endif %}
    {{ chapter.text_as_html }}
    {% if not chapter_edit_mode %}
    {% if next_chapter %}
        <p class="next-chapter-link"><a rel="next" href="{{ url_for('chapter.view', story_id=story.id, chapter_order=next_chapter.order) }}">{{ _('Read more') }}</a></p>
    {% endif %}
    {% if is_last_chapter and story.status_string == 'unfinished' %}
        <p class="to-be-continued"><strong>{{ _('To be continued...') }}</strong></p>
    {% endif %}
    {% endif %}
</div>
