<span class="story-control-btn">
    {% if comment.bl.can_update_by(current_user) -%}
        <a class="btn btn-warning btn-mini comment_edit" href="{{ comment.bl.get_update_link() }}">{{ pgettext('comment_controls', 'Edit') }}</a>
    {%- endif %}
    {% if comment.deleted and comment.bl.can_restore_by(current_user) -%}
        <a class="btn btn-danger btn-mini comment_delete" href="{{ comment.bl.get_restore_link() }}">{{ pgettext('comment_controls', 'Restore') }}</a>
    {%- endif %}
    {% if not comment.deleted and comment.bl.can_delete_by(current_user) -%}
        <a class="btn btn-danger btn-mini comment_delete" href="{{ comment.bl.get_delete_link() }}">{{ pgettext('comment_controls', 'Delete') }}</a>
    {%- endif %}
</span>
