{% for comment in comments %}
    <div id="comment_{{ comment.id}}" class="story-item">
        {% if not short %}
            {% include 'includes/comment_control_buttons.html' %}
        {% endif %}
        <div class="comment">
            {%- if not short %}{{ comment.text_as_html|safe }}{% else %}{{ comment.brief_text_as_html|safe }}{% endif -%}
        </div>
        <p class="meta">
            {% with user=comment.author %}
                {% include 'includes/userlink.html' %}
            {% endwith %}
            <time datetime="{{ comment.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                {{- comment.date|timedeltaformat -}}
              </time> назад{% if not story %} о <a href="{{ url_for('story.view', pk=comment.story.id) }}"><b>{{ comment.story.title }}</b></a>{% endif %}&nbsp;<a href="{{ comment.get_absolute_url() }}">#</a>
        </p>
    </div>
{% else %}
    <div class="comment">
        <h3>Здесь пока ничего нет</h3>
    </div>
{% endfor %}
