{% if comment_votes_cache and comment.id in comment_votes_cache -%}
    {%- set comment_vote = comment_votes_cache[comment.id] -%}
{%- else -%}
    {%- set comment_vote = comment.bl.get_user_vote(current_user) -%}
{%- endif -%}
{%- set can_vote_comment = comment.bl.can_vote_by(current_user, _value_cache=comment_vote) -%}
<span role="button" title="Голосовать за комментарий" aria-label="Голосовать за комментарий" class="scon vote-up{{ ' disabled' if not can_vote_comment else '' }}{{ ' active' if comment_vote > 0 else '' }}" ></span>
<span class="vote-total{{ ' voted-positive' if comment.vote_total > 0 else '' }}{{ ' voted-negative' if comment.vote_total < 0 else '' }}" title="Всего проголосовало: {{ comment.vote_count }}">{{ '+' if comment.vote_total > 0 else '' }}{{ comment.vote_total }}</span>
<span role="button" title="Голосовать против комментария" aria-label="Голосовать против комментария"class="scon vote-down{{ ' disabled' if not can_vote_comment else '' }}{{ ' active' if comment_vote < 0 else '' }}"></span>
