{%- set newsitem = shown_newsitem() -%}
{%- if newsitem %}
    <div class="alert alert-warning" style="margin-top: 20px">
        <a href="#" class="close" id="close-shown-newsitem" data-id="{{ newsitem.id }}" data-dismiss="alert" aria-label="close" style="text-decoration: none" title="close">×</a>
        Новость: <a href="{{ url_for('news.show', name=newsitem.name) }}" style="color: inherit;">{{ newsitem.title }}</a>
    </div>
{%- endif -%}

{%- if current_user.is_authenticated and not current_user.email %}
    <div class="alert alert-warning" style="margin-top: 20px">
        <a href="#" class="close" id="close-email-notice" data-dismiss="alert" aria-label="close" style="text-decoration: none" title="close">×</a>
        У вас не указана электронная почта. Рекомендуем указать её в <a href="{{ url_for('author.edit_mail') }}">настройках</a> для большей безопасности.
    </div>
{%- endif -%}
