{%- import 'includes/notification_comment.html' as nc with context -%}

{% if not notifications -%}
    <h3>Здесь пока ничего нет</h3>
{%- endif -%}

{% for item in notifications -%}
{%- if item.show_viewed_line -%}
<div class="notification-viewed-line"><div>{{ _('Viewed notifications') }}</div></div>
{%- endif -%}

<div class="notification" data-type="{{ item.type }}" id="notification{{ item.id }}">
{% if item.broken %}
    <em>Удалено</em>
    {% if item.created_at %}
    <div class="notification-meta">
        <time class="notification-time" datetime="{{ item.created_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
            {{ item.created_at|datetimeformat('d MMMM Y, HH:mm') }}
        </time>
    </div>
    {% endif %}

{%- elif item.type == 'story_publish' or item.type == 'story_draft' %}
    {% if item.user.is_staff %}
        {{- pgettext('notify_story_publish_draft', 'Moderator') -}}
    {% else %}
        {{- pgettext('notify_story_publish_draft', 'User') -}}
    {% endif %} <a class="authorlink" href="{{ url_for('author.info', user_id=item.user.id) }}">{{ item.user.username -}}
    </a>

    {% if item.type == 'story_publish' -%}
        одобрил рассказ
    {%- else -%}
        отправил в черновики рассказ
    {%- endif %}

    <a href="{{ url_for('story.view', pk=item.story.id) }}">«{{ item.story.title }}»</a>

    <div class="notification-meta">
        <time class="notification-time" datetime="{{ item.created_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
            {{ item.created_at|datetimeformat('d MMMM Y, HH:mm') }}
        </time>
    </div>

{%- elif item.type == 'story_reply' %}
<div class="comment-item comment-item-short">
    {% call nc.notification_comment_html(item.comment) %}
        <span class="comment-story-link">
        в ответ на ваш комментарий к рассказу
        <a href="{{ url_for('story.view', pk=item.story.id) }}"><b>{{ item.story.title }}</b></a>
        </span>
    {% endcall %}
</div>

{%- elif item.type == 'story_comment' %}
<div class="comment-item comment-item-short">
    {% call nc.notification_comment_html(item.comment) %}
        <span class="comment-story-link">
        к рассказу
        <a href="{{ url_for('story.view', pk=item.story.id) }}"><b>{{ item.story.title }}</b></a>
        </span>
    {% endcall %}
</div>

{%- elif item.type == 'story_lreply' %}
<div class="comment-item comment-item-short">
    <div class="comment-item-notify-label">Комментарий от {% if item.extra.is_staff -%}
        модератора
    {%- elif item.extra.is_author -%}
        автора
    {%- elif item.extra.is_editor -%}
        редактора
    {%- else -%}
        бета-читателя
    {%- endif -%}:</div>
    {% call nc.notification_comment_html(item.comment) %}
        <span class="comment-story-link">
        в ответ на ваш комментарий к редакторской рассказа
        <a href="{{ url_for('story.view', pk=item.story.id) }}"><b>{{ item.story.title }}</b></a>
        </span>
    {% endcall %}
</div>

{%- elif item.type == 'story_lcomment' %}
<div class="comment-item comment-item-short">
    <div class="comment-item-notify-label">Комментарий от {% if item.extra.is_staff -%}
        модератора
    {%- elif item.extra.is_author -%}
        автора
    {%- elif item.extra.is_editor -%}
        редактора
    {%- else -%}
        бета-читателя
    {%- endif -%}:</div>
    {% call nc.notification_comment_html(item.comment) %}
        <span class="comment-story-link">
        в редакторской рассказа
        <a href="{{ url_for('story.view', pk=item.story.id) }}"><b>{{ item.story.title }}</b></a>
        </span>
    {% endcall %}
</div>

{%- else %}
    {{ item }}
    <div class="notification-meta">
        <time class="notification-time" datetime="{{ item.created_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
            {{ item.created_at|datetimeformat('d MMMM Y, HH:mm') }}
        </time>
    </div>
{% endif %}
</div>
{%- endfor %}
