{% for author in story.authors -%}
  <span itemscope itemprop="author" itemtype="http://schema.org/Person"><span itemprop="name"><a class="authorlink" href="{{ url_for('author.info', user_id=author.id) }}" itemprop="url">
    {{- author.username -}}
  </a></span></span>
  {%- if loop.first %}
    {%- if not loop.last %} (в соавторстве с {% endif -%}
  {% else %}
    {%- if loop.revindex0 > 1 %}, {% endif -%}
    {%- if loop.revindex0 == 1 %} и {% endif -%}
    {%- if loop.last %}){% endif -%}
  {%- endif -%}
{% endfor -%}
