{% if story.draft -%}
    <sup class="story-mark draft">черновик</sup>
{% elif not story.approved -%}
    <sup class="story-mark on-moderation">на модерации</sup>
{%- endif %}
{% if not story.original -%}
    <sup class="story-mark translation">перевод</sup>
{%- endif %}
{%- set status = story.status_string %}
{% if status == 'finished' -%}
    <sup class="story-mark complete">завершен</sup>
{%- elif status == 'freezed' -%}
    <sup class="story-mark suspended">заморожен</sup>
{%- else -%}
    <sup class="story-mark incomplete">не завершен</sup>
{% endif %}
