<form action="{{ url_for('story.edit', pk=story.id) }}" data-ajaxaction="{{ url_for('story.edit', pk=story.id) }}?short=1" method="POST" enctype="multipart/form-data" class="form-horizontal" id="story-edit-staff-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <fieldset>
        <legend>Администрирование рассказа</legend>

        <div class="control-group{% if staff_error %} error{% endif %}"><div class="controls">
            {% if staff_saved -%}
                <div class="alert-mini green">Изменения сохранены</div>
            {% endif -%}
        </div></div>

        <div class="control-group">
            <label class="control-label">Доступ поисковикам</label>
            <div class="controls">
                <label>
                    <input type="radio" name="robots_noindex" value="0"{% if not story.robots_noindex %} checked{% endif %} />
                    Разрешить
                </label>
                <label>
                    <input type="radio" name="robots_noindex" value="1"{% if story.robots_noindex %} checked{% endif %} />
                    Запретить
                </label>
              </div>
        </div>

        <div class="control-group">
            <label class="control-label">Комментарии</label>
            <div class="controls">
                <label>
                    <input type="radio" name="comments_mode" value=""{% if story.comments_mode == '' %} checked{% endif %} />
                    По умолчанию
                </label>
                <label>
                    <input type="radio" name="comments_mode" value="on"{% if story.comments_mode == 'on' %} checked{% endif %} />
                    Включены всегда (даже в черновиках)
                </label>
                <label>
                    <input type="radio" name="comments_mode" value="off"{% if story.comments_mode == 'off' %} checked{% endif %} />
                    Отключены всегда (даже после публикации)
                </label>
                <label>
                    <input type="radio" name="comments_mode" value="pub"{% if story.comments_mode == 'pub' %} checked{% endif %} />
                    Только если опубликован
                </label>
                <label>
                    <input type="radio" name="comments_mode" value="nodraft"{% if story.comments_mode == 'nodraft' %} checked{% endif %} />
                    Только если не в черновиках (в том числе на модерации)
                </label>
              </div>
        </div>

        <div class="control-group">
            <label class="control-label">Доступ по ссылке</label>
            <div class="controls">
                <label>
                    <input type="radio" name="direct_access" value=""{% if story.direct_access == '' %} checked{% endif %} />
                    По умолчанию
                </label>
                <label>
                    <input type="radio" name="direct_access" value="all"{% if story.direct_access == 'all' %} checked{% endif %} />
                    Всегда (даже в черновиках)
                </label>
                <label>
                    <input type="radio" name="direct_access" value="allguest"{% if story.direct_access == 'allguest' %} checked{% endif %} />
                    Всегда (даже в черновиках), в том числе для гостей
                </label>
                <label>
                    <input type="radio" name="direct_access" value="none"{% if story.direct_access == 'none' %} checked{% endif %} />
                    Никогда
                </label>
                <label>
                    <input type="radio" name="direct_access" value="nodraft"{% if story.direct_access == 'nodraft' %} checked{% endif %} />
                    Только если не в черновиках
                </label>
                <label>
                    <input type="radio" name="direct_access" value="anodraft"{% if story.direct_access == 'anodraft' %} checked{% endif %} />
                    Только если не в черновиках, в том числе для гостей
                </label>

                <span class="help-inline">Опубликованный рассказ в любом случае доступен всегда и всем. Гости никогда не имеют доступа к неопубликованному рассказу, если не выбран соответствующий пункт.</span>
              </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="act" value="save_staff">Сохранить</button>
        </div>
    </fieldset>
</form>
