{%- from 'macro.html' import tag_link with context -%}

{%- set main_tags = story.bl.get_main_tags() -%}
{%- set more_tags = story.bl.get_more_tags() -%}

{%- for st in main_tags -%}
    {{ tag_link(st.tag) }}
{% endfor -%}

{% if more_tags -%}
    <a href="#" class="story-tag more-tags-btn js-show-more-tags" title="Показать все теги">...</a>
    <span class="js-story-more-tags" style="display: none;">{% for st in more_tags -%}
        {{ tag_link(st.tag) }}
    {% endfor %}</span>
{%- endif %}
