
<span class="story-control-btn">
    {% if comment.bl.can_update_by(current_user) %}
        <a class="btn btn-warning btn-mini comment_edit" href="{{ url_for('story_comment.edit', story_id=comment.story.id, local_id=comment.local_id) }}">Редактировать</a>
    {% endif %}
    {% if comment.bl.can_delete_or_restore_by(current_user) %}
        {% if comment.deleted %}
            <a class="btn btn-danger btn-mini comment_delete" href="{{ url_for('comment.delete', story_id=comment.story.id, pk=comment.id) }}">Восстановить</a>
        {% else %}
            <a class="btn btn-danger btn-mini comment_delete" href="{{ url_for('comment.delete', story_id=comment.story.id, pk=comment.id) }}">Удалить</a>
        {% endif %}
    {% endif %}
</span>
{% endif %}
