{% from 'macro/story.html' import tags_block %}
{% from 'macro/story.html' import characters_block %}
{% from 'includes/story_buttons.html' import common_buttons, edit_buttons with context %}

{% for story in stories %}
    <div id="story_{{ story.id }}" class="story-item">
        <div class="icon-metagroup">
            {% if buttons == 'common' %}
                {{ common_buttons(story) }}
            {% elif buttons == 'edit' %}
                {{ edit_buttons(story) }}
            {% endif %}
        </div>

        <div class="story-item-header">
            <h3 class="story-title">
                <a href="{{ url_for('story.view', pk=story.id) }}">{{ story.title }}</a>
            </h3>

            {% if story.pinned -%}
                <span class="scon small story-pinned" title="Рассказ закреплён"></span>
            {%- endif %}

            {{- story.bl.vote_view_html(user=current_user, full=False)|safe }}

            {% include 'includes/story_marks.html' %}
        </div>

        <p class="meta">
            {{ tags_block(story.prepared_tags, story.id) }}
                {{ ngettext("%(num)d word", "%(num)d words", story.words) }} {{ pgettext('story_by', 'by') }} {% include 'includes/story_authors_list.html' %}
                <br/>
                <span>
                {{ ngettext("%(num)d view", "%(num)d views", story.views) -}}
                {%- if story.published_chapters_count > 1 -%}
                    , {{ ngettext("%(num)d chapter", "%(num)d chapters", story.published_chapters_count) }}
                    {%- if current_user.is_authenticated -%}
                        {%- set delta = unread_chapters_count.get(story.id, 0) -%}
                        {%- if delta > 0 %}
                        (<span class="green" title="{{ _('Unread chapters count') }}">+{{ delta }}</span>)
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
                , {{ ngettext("%(num)d comment", "%(num)d comments", story.comments_count) -}}
                {%- if current_user.is_authenticated -%}
                    {%- set delta = unread_comments_count.get(story.id, 0) -%}
                    {%- if delta > 0 %}
                        (<span class="green" title="{{ _('Unread comments count') }}">+{{ delta }}</span>)
                    {%- endif -%}
                {%- endif %}
                </span>
        </p>
        <p class="story-summary">{{ story.summary|striptags }}</p>
        {% if (stories_detail_view or current_user.detail_view) and story.published_chapters_count > 1 %}
            <button class="btn btn-collapse btn-small" data-toggle="collapse" data-target="#story_{{ story.id }}_chapters">{{ ngettext("Show %(num)d chapter", "Show %(num)d chapters", story.published_chapters_count) }}</button>
            <div id="story_{{ story.id }}_chapters" class="collapse">
                <ul class="chapters-list">
                    {%- for chapter in story.bl.select_accessible_chapters(current_user)|sort(attribute='order') %}
                        <li>
                            <a class="chapter-title" href="{{ url_for('chapter.view', story_id=story.id, chapter_order=chapter.order) }}">
                                {{- chapter.autotitle -}}
                            </a>
                            {%- set viewed_at = chapter_view_dates.get(chapter.id) if chapter_view_dates is defined else chapter.bl.is_viewed_by(current_user) -%}
                            {%- if viewed_at %} <i class="chapter-viewed-icon" title="Вы просматривали эту главу {{ viewed_at|datetimeformat(DEFAULT_DATETIME_FORMAT) }}"></i>{% endif %}
                            {%- if chapter.draft %} <sup class="draft">{{ _('Draft') }}</sup>{% endif %}
                            {% if story.bl.editable_by(current_user) -%}
                                <sup><a class="edit-link" href="{{ url_for('chapter.edit', pk=chapter.id) }}">{{ pgettext('chapter_edit', 'Edit') }}</a></sup>
                            {%- endif -%}
                            <br/>
                            {{ ngettext("%(num)d word", "%(num)d words", chapter.words) }}, {{ ngettext("%(num)d view", "%(num)d views", chapter.views) -}}
                        </li>
                    {%- endfor %}
                </ul>
            </div>
        {% endif %}
        <p class="meta">
            {{ characters_block(story.prepared_characters) }}
        </p>
    </div><!-- /story_{{ story.id }} -->
{% else %}
    <h3>{{ _('There is nothing here yet') }}</h3>
{% endfor %}
