<div id="wrapper"{% if story.nsfw and not current_user.nsfw %} class="nsfw"{% endif %}></div>
<div class="story-panel" id="story_panel">
    {% if current_user.is_authenticated %}
        <a title="В избранное" href="{{ url_for('story.favorite', pk=story.id) }}" class="story_favorite scon favorite{% if story.favorited(current_user.id) %} favorited{% endif %}"></a>
        <a title="Отложить на потом" href="{{ url_for('story.bookmark', pk=story.id) }}" class="story_bookmark scon bookmark{% if story.bookmarked(current_user.id) %} bookmarked{% endif %}"></a>
    {% endif %}
    {% if not story.finished %}
        <a title="Подписаться на новые главы по RSS" href="{{ url_for('feeds.stories', story_id=story.id) }}" class="scon feed" data-noajax="1"></a>
    {% endif %}

    {% if prev_chapter or next_chapter %}
    <span class="chapter-switch">
        {% if prev_chapter %}← <a class="left" href="{{ url_for('chapter.view', story_id=story.id, chapter_order=prev_chapter.order) }}">{{ prev_chapter.title }}</a>{% endif %}
        {% if next_chapter %}<a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=next_chapter.order) }}">{{ next_chapter.title }}</a> →{% endif %}
    </span>
    {% endif %}
    {% if not chapter and not allchapters %}
        <a href="{{ url_for('chapter.view', story_id=story.id) }}">Все главы одной страницей</a>
    {% endif %}
    <span class="chapter-controls">
        {% for d in story.list_downloads() %}
            <a title="Скачать в {{ d.format.name }}" href="{{ d.url }}" class="get {{ d.format.slug }}" data-noajax="1"></a>
        {% endfor %}
    </span>

    <span class="story_bookmark_msg"></span>
    <span class="story_favorite_msg"></span>
    {% if chapter or chapters %}
    <span class="chapter-controls">
        <select class="select-font">
            <option value="1">Без засечек</option>
            <option value="2">С засечками</option>
            <option value="3">Моноширинный</option>
        </select>
        <select class="select-size">
            <option value="1">Обычный</option>
            <option value="2">Маленький</option>
            <option value="3">Большой</option>
        </select>
    </span>
    <span class="chapter-controls">
    {#
        <a title="Вниз" href="#" class="scon down" id="toDown"></a>
    #}
        <a title="Вверх" href="#" class="scon up" id="toTop"></a>
    </span>
    {% endif %}
</div>
