{% from 'macro/story.html' import tags_block %}
{% from 'macro/story.html' import characters_block %}
{% from 'includes/story_buttons.html' import common_buttons with context %}

{% if random_stories %}
<div data-bazooka="StoriesCarousel" id="slides">
{% for story in random_stories %}
    <input type="radio" id="slide-trigger-{{ loop.index }}" name="slider" {% if loop.index == 1 %}checked autofocus{% endif %}>
    <label for="slide-trigger-{{ loop.index }}"></label>
    <div class="story-item slide">
        {{ common_buttons(story, with_downloads=False) }}
        <h3><a href="{{ url_for('story.view', pk=story.id) }}">{{ story.title }}</a></h3>
        <p class="meta">
            {{ tags_block(story.prepared_tags, story.id, with_secondary=False) }}
        </p>
        <p class="story-summary">{{ story.summary|striptags }}</p>
        <p class="meta">
            {{ characters_block(story.prepared_characters) }}
        </p>
    </div>
{% endfor %}
</div>
{% endif %}
