{% from 'includes/story_buttons.html' import common_buttons with context %}

<div class="story-panel story-panel-sticky no-js" id="story_panel">
    <div>
        {{ common_buttons(story, with_abuse=True) }}
        <span class="icon-group">
            {% if chapter or chapters %}
                {#
                    <a title="Вниз" aria-label="Вниз" href="#" class="scon down" id="toDown"></a>
                #}
                <a title="Вверх" aria-label="Вверх" role="button" href="#" class="scon up" id="toTop"></a>
            {% endif %}
        </span>

        {% if not chapter and not allchapters %}
            <a href="{{ url_for('chapter.view', story_id=story.id) }}" class="chapters-all-link">Все главы одной страницей</a>
        {% endif %}

        {% if prev_chapter or next_chapter %}
            <span class="chapter-switch">
                {% if prev_chapter %}<span>← <a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=prev_chapter.order) }}">{{ prev_chapter.autotitle }}</a></span>{% endif %}
                {% if next_chapter %}<span><a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=next_chapter.order) }}">{{ next_chapter.autotitle }}</a> →</span>{% endif %}
            </span>
        {% endif %}
    </div>
    <div>
        <span title="Настройки форматирования главы"
              aria-label="Настройки форматирования главы"
              role="button"
              class="js-required js-formatting-btn scon formatting"></span>
    </div>
</div>
