<div class="story-panel story-panel-sticky no-js" id="story_panel">
    <span class="js-required btn btn-mini btn-mini-formatting js-formatting-btn" title="Настройки форматирования главы"></span>

    {% if current_user.is_authenticated %}
        <a title="В избранное" href="{{ url_for('story.favorite', pk=story.id) }}" class="js-required story_favorite scon favorite{% if story.favorited(current_user.id) %} favorited{% endif %}"></a>
        <a title="Прочитать позже" href="{{ url_for('story.bookmark', pk=story.id) }}" class="js-required story_bookmark scon bookmark{% if story.bookmarked(current_user.id) %} bookmarked{% endif %}"></a>
    {% endif %}
    {% if story.status_string != 'finished' %}
        <a title="Подписаться на новые главы по RSS" href="{{ url_for('feeds.story', story_id=story.id) }}" class="scon feed" data-noajax="1"></a>
    {% endif %}

    {% if prev_chapter or next_chapter %}
    <span class="chapter-switch">
        {% if prev_chapter %}← <a class="left" href="{{ url_for('chapter.view', story_id=story.id, chapter_order=prev_chapter.order) }}">{{ prev_chapter.autotitle }}</a>{% endif %}
        {% if next_chapter %}<a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=next_chapter.order) }}">{{ next_chapter.autotitle }}</a> →{% endif %}
    </span>
    {% endif %}
    {% if not chapter and not allchapters %}
        <a href="{{ url_for('chapter.view', story_id=story.id) }}">Все главы одной страницей</a>
    {% endif %}
    <span class="chapter-controls">
        {% for d in story.list_downloads() %}
            <a title="Скачать в {{ d.format.name }}" href="{{ d.url }}" class="get {{ d.format.slug }}" data-noajax="1"></a>
        {% endfor %}
    </span>

    {% if chapter or chapters %}
    <span class="chapter-controls">
    {#
        <a title="Вниз" href="#" class="scon down" id="toDown"></a>
    #}
        <a title="Вверх" href="#" class="scon up" id="toTop"></a>
    </span>
    {% endif %}
</div>
