.dropdown__trigger, .dropdown {
    display: flex;
    align-items: center;
    gap: var(--big-padding);

    &:hover,
    &:focus-within {
        & .dropdown__menu {
            opacity: 1;
            transform: rotateX(0) translateX(-50%);
            visibility: visible;
        }
    }
}

.dropdown {
    position: relative;

    & ul {
        display: grid;
        place-items: start;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & .dropdown__menu {
        @mixin background-dark;
        border-radius: var(--default-border-radius);
        box-shadow: 0.1em 0.1em 0.1em var(--color-primary-lighter-translucent);
        position: absolute;
        /* Pull up to overlap the parent list item very slightly */
        top: calc(100% - var(--default-padding));
        /* Use the left from absolute position to shift the left side */
        left: 50%;
        /* Use translateX to shift the menu 50% of it's width back to the left */
        transform: rotateX(-90deg) translateX(-50%);
        transform-origin: top center;
        opacity: 0.3;
        transition: all var(--default-transition-duration) ease-out;
        gap: var(--navbar-gap);
        padding: var(--big-padding);
        z-index: 3;
    }
}

@media (max-width: 60em) {
    .dropdown .dropdown__menu {
        left: -2.25em;
    }
}

@media (max-width: 85em) {
    .dropdown .dropdown__menu {
        left: -2.9em;
    }
}
