.logopic {
    grid-area: logopic;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0;
    grid-template-areas: ". slides";
    background-size: cover;
    background-position: 50% center;

    & a.logopic__link {
        margin: var(--padding-linkblocks) 0 0 var(--padding-linkblocks);
        padding: var(--small-padding) calc(var(--small-padding) * 2);
        border-radius: var(--small-border-radius);
        font-size: small;
        background-color: rgba(50, 50, 50, 0.6);
        color: var(--color-white);
        opacity: 0;
        pointer-events: none;
        transition-property: opacity;
        transition-duration: var(--default-transition-duration);
        width: max-content;
        height: max-content;

        &:hover {
            color: var(--color-links-roof-primary);
        }
    }

    &:hover a.logopic__link {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 85em) {
    .logopic {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 60em) {
    :root {
        --slides-height: 10em;
        --max-lines: 3;
        --slides-border: .5em;
    }

    .logopic {
        grid-template-columns: 1fr 2fr;
    }
}

@media (max-width: 48em) {
    .logopic {
        opacity: 0;
        display: none;
    }
}
