
.logopic {
    grid-area: logopic;

    & a.logopic__link {
        margin: var(--padding-linkblocks) 0 0 var(--padding-linkblocks);
        padding: var(--small-padding) calc(var(--small-padding) * 2);
        border-radius: var(--small-border-radius);
        font-size: small;
        background-color: rgba(50, 50, 50, 0.6);
        color: var(--color-white);
        opacity: 0;
        pointer-events: none;
        transition-property: opacity;
        transition-duration: .3s;
        width: max-content;
        height: max-content;

        &:hover {
            color: var(--color-links-roof-primary);
        }
    }

    &:hover a.logopic__link {
        opacity: 1;
        pointer-events: auto;
    }
}
