
.logopic {
    grid-area: logopic;

    & a:first-of-type {
        margin-left: var(--padding-linkblocks);
        margin-top: var(--padding-linkblocks);
        padding: 0.2em 0.5em;
        font-size: small;
        background-color: rgba(50, 50, 50, 0.6);
        color: var(--color-white);
        text-decoration: underline;
        display: inline-block;
        opacity: 0;
        pointer-events: none;
        transition-property: opacity;
        transition-duration: 500ms;

        &:hover {
            color: var(--color-links-roof-primary);
        }
    }

    &:hover a:first-of-type {
        opacity: 1;
        pointer-events: auto;
    }
}
