:root {
    --padding-linkblocks: 0.8em;
    --gap-linkblock: 0.4em;
}

/* Top links */
.roof {
    @mixin background-dark;
    @mixin overhang;
    grid-area: roof;

    & nav {
        & ul {
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            align-items: baseline;
            padding-left: var(--padding-linkblocks);
            gap: 1em;
        }
        & li {
            & a {
                color: var(--color-links-roof-secondary);
                font-size: x-large;
                text-decoration: none;
                font-family: var(--font-family-serif);
            }
        }
        & li:first-child {
            margin-right: 1em;
            & a {
                color: var(--color-links-roof-primary);
                font-size: xx-large;
            }
        }

    }
}

.navigation {
    @mixin background-dark;
    grid-area: navigation;
    display: flex;
    justify-content: space-between;

    & nav:first-of-type > ul {
        justify-content: flex-start;
        padding-left: var(--padding-linkblocks);
    }

    & nav:last-of-type > ul {
        justify-content: flex-end;
        padding-right: var(--padding-linkblocks);
    }

    & nav {
        & a, & span {
            color: var(--color-links-roof-secondary);
        }

        /* Direct ancestors */
        & > ul {
            display: flex;
            align-items: baseline;
            list-style-type: none;
            margin-top: var(--gap-linkblock);
            margin-bottom: var(--gap-linkblock);
            gap: var(--gap-linkblock);

            & li.active, & li:hover {
                background-color: var(--color-links-roof-secondary);
                border-radius: var(--default-border-radius);
                text-decoration: none;

                & > a, & > span, & > div span {
                    color: var(--color-primary-dark);
                }
            }
        }

        /* All list items */
        & li {
            line-height: 1em;
            padding: var(--gap-linkblock) calc(var(--gap-linkblock) * 1.5);
        }
    }

    & i[data-count]:after{
        background: red; /* FIXME */
        border-radius: 999px;
        color: var(--color-links-roof-secondary);
        position: relative;
        right: .6em;
        bottom: .6em;
        padding: .4em;
        margin-right: -1em; /* To prevent padding shift */
        content: attr(data-count);
        font-family: sans-serif;
        font-size: x-small;
        text-align: center;
    }

}
