.navigation {
    @mixin background-dark;
    grid-area: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--big-padding);

    /* Top links */
    &.roof nav:first-of-type {
        & li {
            & a {
                color: var(--color-complementary-lightest);
                font-size: x-large;
                text-decoration: none;
                font-family: var(--font-family-serif);
            }
        }

        & li:first-child {
            margin-right: 1em;

            & a {
                color: var(--color-links-roof-primary);
                font-size: xx-large;
            }
        }
    }

    & nav:first-of-type > ul {
        justify-content: flex-start;
    }

    & nav:last-of-type > ul {
        justify-content: flex-end;
    }

    & nav {
        & a, & span {
            color: var(--color-grey-lightest);
        }

        /* Direct ancestors */
        & > ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin: 0;
            gap: var(--navbar-gap);

            & li.active, & li:hover {
                background-color: var(--color-grey-lightest);
                border-radius: var(--default-border-radius);
                text-decoration: none;

                & > a, & > span, & > div span {
                    color: var(--color-primary-darkest);
                }
            }
        }

        /* All list items */

        & li {
            line-height: 1em;
            padding: var(--default-padding) calc(var(--default-padding) * 1.5);
            margin: 0;
        }
    }

    & i[data-count]:after {
        background: var(--color-complementary-light);
        border-radius: 999px;
        color: var(--color-white);
        position: relative;
        right: var(--counter-base-size);
        bottom: var(--counter-base-size);
        padding: calc(var(--counter-base-size) / 2);
        margin-right: calc(var(--counter-base-size) * -2); /* To prevent padding shift */
        content: attr(data-count);
        font-family: sans-serif;
        font-size: x-small;
        text-align: center;
    }

}

@media (min-width: 85em) {
    .roof {
        @mixin overhang;
    }
}
