{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs([[url_for('notices.index'), _('Notices')]]) }}

        <div class="notice notice-item" id="notice_{{ notice.id }}">
            <span class="notice-title-link">{{ notice.title }}</span>
            {% if current_user.is_staff -%}
                <a class="btn btn-warning btn-mini" href="{{ url_for('admin_notices.update', pk=notice.id) }}">{{ _('Edit') }}</a>
            {%- endif %}
            <br/>
            <time datetime="{{ notice.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}" class="notice-date">
                {{- notice.date|datetimeformat('d.MM.Y') -}}
            </time>
            <div class="notice-content">{{ content }}</div>
        </div>

        <!-- Вывод комментариев: начало -->
        {% if comments_count > 0 %}
        <div id="comments">
            <h3>Комментарии (<span id="comments-count">{{ comments_count }}</span>)</h3>
            <div id="comments-tree" class="comments-tree">
                {% include 'includes/comments_tree.html' %}
            </div>

            <div id="comments-pagination" class="pagination center">
            {% include 'notices/comments_pagination.html' %}
            </div>
        </div>
        {% endif %}

        {% if notice.bl.can_comment_by(current_user) %}
            <a href="#" id="comment-add-link" class="comment-add-link">Добавить новый комментарий</a>

            <form id="comment-form" class="comment-form" method="POST" enctype="multipart/form-data" action="{{- url_for('notice_comment.add', notice_id=notice.id) -}}">
            {% from 'macro.html' import comment_form_content %}
            {{ comment_form_content(comment_form, 'notice', notice.id) }}
            </form>
        {% elif current_user.is_authenticated %}
        <h3 id="banned">К сожалению, Вы не можете добавлять комментарии</h3>
        {% else %}
        <a href="{{ url_for('auth.login', next=url_for('notices.show', name=notice.name)) }}">Авторизуйтесь</a> для отправки комментария.
        {% endif %}
        <!-- Вывод комментариев: конец -->

        {{- breadcrumbs([[url_for('notices.index'), _('Notices')]]) }}
    </div>
</div>
{% endblock %}
