<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>500 — внутренняя ошибка сервера</h3>
</div>
<div class="modal-body">
    <div class="story-item">
        <p>В процессе обработки вашего запроса случилась непредвиденная ошибка. Если она не проходит через время и вы желаете помочь администрации, <a href="{{ config['SITE_FEEDBACK'] }}">напишите</a>, как вам удалось добиться этой ошибки.</p>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Вернуться</a>
</div>

