{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}

<div class="row">
    <div class="span12">
        {{- breadcrumbs(current=('Кабинет автора ' if author.stories.count() > 0 else 'Кабинет потенциального автора ') + author.username) }}
    </div>
    <!-- Вывод шапки -->
    <div class="span8">
        <h1 id="author-name">
            <img src="{{ author.bl.get_avatar_url() }}" width="42" title="{{ author.username }}" alt="{{ author.username }}"/>
            {{ author.username }}
            {#{% if author.stories.count() > 0 %}Кабинет автора{% else %}Кабинет потенциального автора{% endif %}#}
            {% if not author.is_active %}
                <sup id="banned">Read-only</sup>
            {% endif %}
        </h1>
        <p>
            {% if author.stories.count() > 0 %} Вы уже написали <b>{{ ngettext("%(num)d story", "%(num)d stories", author.stories.count()) }}</b>{% else %}Вы пока ничего не написали{% endif %}.
            <br/>
            Читатели
            {% if all_views > 0 %}
                просмотрели ваши рассказы {{ ngettext("%(num)d time", "%(num)d times", all_views) }},
            {% else %}
                пока не интересовались вашими рассказами,
            {% endif %}
            {% if comments_count > 0 %}
                 и оставили {{ ngettext("%(num)d comment", "%(num)d comments", comments_count) }}.
            {% else %}
                 не откомментировав их.
            {% endif %}
        </p>
    </div>
    <div class="span8 top-list">
        <!-- Сборники -->
        <div class="series-block">
            <!-- Начало вывода сборников, если они есть -->
            {% if series %}
                <h2>Мои сборники</h2>
                {% include "includes/series.html" %}
            {% endif %}
            <!-- Конец вывода сборников -->
        </div>

        <input type="radio" name="tab-stories" class="tab-author-stories-input" id="tab-author-stories-input" checked />
        <label for="tab-author-stories-input">Мои рассказы ({{ stories|length }})</label>
        &nbsp;&nbsp;
        <input type="radio" name="tab-stories" class="tab-contributing-stories-input" id="tab-contributing-stories-input" />
        <label for="tab-contributing-stories-input">Рассказы с моим вкладом ({{ contributing_stories|length }})</label>
        &nbsp;&nbsp;
        <a class="btn btn-success btn-small" href="{{ url_for('story.add') }}">Добавить рассказ</a>

        <div class="tab-author-stories">
            {% include "includes/stories.html" %}
        </div>

        <div class="tab-contributing-stories">{% with stories = contributing_stories %}
            {% include "includes/stories.html" %}
        {% endwith %}</div>
    </div>

    <div class="span4 top-list sidelist">
        {% if comments_count > 0 %}
            <h2>Комментарии читателей ({{ comments_count }})</h2>
            <div id="comments-list">
            {% include "includes/story_comments_list.html" %}
            </div>
            {% include "includes/comments_pagination_author_dashboard.html" %}
        {% endif %}
    </div>

    <div class="span12">
        {{- breadcrumbs(current=('Кабинет автора ' if author.stories.count() > 0 else 'Читательский билет ') + author.username) }}
    </div>
</div>
{% endblock %}
