    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/markitup.main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/markitup.set.css') }}" />

    <!-- compatibility scripts and polyfills -->
    <!--[if lt IE 9]> <script src="{{ url_for('static', filename='js/lib/html5shiv-printshiv.min.js') }}"></script> <![endif]-->
    <script src="{{ url_for('static', filename='js/lib/es6-promise.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/fetch.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/lib/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-ui-1.12.1.sortable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.markitup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.slides.3.0.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
