<!DOCTYPE html>
<html lang="{{ g.locale.language }}">
<head>
    <meta charset="utf-8" />
    <title>
        {%- block fulltitle -%}
            {% block title %}{{ page_title }}{% endblock %} &mdash; {{ SITE_NAME }}
        {%- endblock fulltitle -%}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
{%- block favicon %}
    {% set favicons = favicon_bundle() %}
    {% if favicons.legacy -%}
        <link rel="shortcut icon" type="image/x-icon" href="{{ favicons.legacy }}" />
    {%- endif %}
    {% if favicons.main -%}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ favicons.main }}">
    {%- endif %}
    {% if favicons.apple -%}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ favicons.apple }}">
    {%- endif %}
{% endblock -%}

{%- block meta_csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token() }}" />
{% endblock -%}

{# Prefetch all scripts #}
{% for script in scripts() %}
    <link rel="prefetch" as="script" href="{{ script.url }}" integrity="{{ script.integrity }}">
{% endfor %}

{# Include all stylesheets, internal and external #}
{% for stylesheet in stylesheets() %}
    <link rel="stylesheet" href="{{ stylesheet.url }}" integrity="{{ stylesheet.integrity }}" crossorigin="anonymous"/>
{% endfor %}

{# Include all internal and external entrypoints #}
{% for script in scripts(entrypoint=True) %}
    <script defer src="{{ script.url }}" integrity="{{ script.integrity }}" crossorigin="anonymous"></script>
{% endfor %}

{%- block meta_robots_tag %}{% if robots_noindex or robots_nofollow %}
    <meta name="robots" content="
    {%- if robots_noindex -%}noindex{%- else -%}index{%- endif -%}
    , {% if robots_nofollow -%}nofollow{%- else -%}follow{%- endif -%}" />
{% endif %}{% endblock -%}

{%- block html_block_head %}
    {{ html_block('head') }}
{%- endblock -%}

{% block feeds %}{% endblock %}

{% block extrahead %}{% endblock %}
</head>

<body>
    <!-- Container start -->
    <div class="container">
    {% include 'includes/header.html' with context %}
    <!-- Content start -->
    <main id="content">

    {%- block content %}{% endblock -%}

    </main>
    <!-- Content end -->
    <footer class="footer">
        <span class="copyright">{{ COPYRIGHT }}</span>
        <ul class="nav-items" id="footer-links">
            {%- block feeds_footer %}{% endblock -%}
            {{ html_block('footer_links') }}
        </ul>
    </footer>
    </div>
    <!-- Container end -->

    <div class="modal-backdrop hide fade" id="modal-bg"></div>
    <div class="modal hide fade" id="modal">{% block modal %}{% endblock %}</div>
    <div id="loading-icon" class="loader-container loader loader-hidden"></div>
    <div class="popup-notifications" id="popup-notifications"></div>
{% include 'includes/formatting_window.html' %}
{% block extrabody %}{% endblock %}
</body>
</html>
