{%- block favicon %}
    {% if config['FAVICON_URL'] -%}
        <link rel="shortcut icon" type="image/x-icon" href="{{ config['FAVICON_URL'] }}" />
    {%- endif %}
{% endblock -%}

{%- block meta_csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token() }}" />
{% endblock -%}

{%- block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='build/index.{}.css'.format(config['FRONTEND_VERSION'])) }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='build/story.{}.css'.format(config['FRONTEND_VERSION'])) }}" />
{%- for css_link in extra_css %}
    <link rel="stylesheet" href="{{ css_link }}" />
{%- endfor -%}
{% endblock -%}

{%- block head_js %}
    <script async src="{{ url_for('static', filename='build/index.{}.js'.format(config['FRONTEND_VERSION'])) }}"></script>
    <script async src="{{ url_for('static', filename='build/story.{}.js'.format(config['FRONTEND_VERSION'])) }}"></script>
{% endblock -%}

{%- block meta_robots_tag %}{% if robots_noindex or robots_nofollow %}
    <meta name="robots" content="
        {%- if robots_noindex -%}noindex{%- else -%}index{%- endif -%}
        , {% if robots_nofollow -%}nofollow{%- else -%}follow{%- endif -%}" />
{% endif %}{% endblock -%}

{%- block html_block_head %}
{{ html_block('head') }}
{%- endblock -%}
