{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs([
            [url_for('author.info'), _("Author's cabinet")],
            [url_for('story.edit_chapters', pk=(story or chapter.story).id), 'Редактирование глав «{}»'.format((story or chapter.story).title)]
        ]) }}
    </div>
    <div class="span12">
        {% if not chapter -%}
            {{ html_block('chapter_add') }}
        {%- else -%}
            <h1>{{ page_title }}</h1>
        {%- endif %}
        <form method="POST" enctype="multipart/form-data" name="search" id="chapter-form" class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="older_md5" value="{{ chapter.text_md5 }}" />

            {% if form.saved %}<div class="alert-mini green">{{ _('Saved!') }}</div><br/>{% endif %}
            {% if form.not_saved %}<div class="alert-mini alert-error">{{ _('Changes are not saved, check the form') }}</div><br/>{% endif %}

            <fieldset>
                <div class="control-group{% if form.errors.title %} error{% endif %}">
                    <label class="control-label" for="id_title">{{ pgettext('chapter_edit', 'Name') }}</label>
                    <div class="controls">
                        <input
                            type="text"
                            name="title"
                            id="id_title"
                            maxlength="512"
                            class="input-xxxlarge js-form-saving"
                            data-formgroup="chapter"
                            data-formsaving="chapter_title"
                            placeholder="{{ _('Chapter title (optional)') }}"
                            value="{{form.data.title }}" />

                        {% if form.errors.title %}
                            {% for error in form.errors.title %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                      </div>
                </div>

                <div class="control-group{% if form.errors.notes %} error{% endif %}">
                    <label class="control-label" for="id_notes">{{ pgettext('chapter_edit', 'Notes') }}</label>
                    <div class="controls">
                        <textarea
                            name="notes"
                            id="id_notes"
                            cols="40" rows="4"
                            maxlength="4096"
                            class="input-xxxlarge chapter-textarea with-markitup js-form-saving"
                            data-formgroup="chapter"
                            data-formsaving="chapter_notes"
                            placeholder="{{ _('Chapter notes') }}">{{ form.data.notes }}</textarea>

                        {% if form.errors.notes %}
                            {% for error in form.errors.notes %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ _("Author's notes for chapter") }}</span>
                        {% endif %}
                      </div>
                </div>

                <div class="control-group{% if form.errors.text %} error{% endif %}">
                    <label class="control-label" for="id_text">{{ pgettext('chapter_edit', 'Chapter text') }}</label>
                    <div class="controls">
                        <textarea
                            name="text"
                            id="id_text"
                            cols="40" rows="10"
                            maxlength="1000000"
                            class="input-xxxlarge chapter-textarea with-markitup js-form-saving"
                            data-formgroup="chapter"
                            data-formsaving="chapter_text">{{ form.data.text }}</textarea>
                        {% if form.errors.text %}
                            {% for error in form.errors.text %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                        {% if diff_html %}
                            <pre class="editlog-chapter-diff">{{ diff_html|safe }}</pre>
                        {% endif %}
                      </div>
                </div>

                <div class="control-group">
                    <label class="control-label">{{ pgettext('chapter_edit', 'Publication') }}</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="publication_status" value="publish"{% if form.data.publication_status == 'publish' %} checked{% endif %} />
                            {% if not edit or chapter.draft %}
                                {{- pgettext('chapter_edit', 'Publish chapter now') -}}
                            {% else %}
                                {{- pgettext('chapter_edit', 'Leave chapter published') -}}
                            {% endif %}
                        </label>

                        {% if unpublished_chapters_count > 0 %}
                        <label class="radio">
                            <input type="radio" name="publication_status" value="publish_all"{% if form.data.publication_status == 'publish_all' %} checked{% endif %} />
                            {{ ngettext('Publish this and other %(num)s chapter', 'Publish this and other %(num)s chapters', unpublished_chapters_count) }}
                        </label>
                        {% endif %}

                        <label class="radio">
                            <input type="radio" name="publication_status" value="draft"{% if form.data.publication_status == 'draft' %} checked{% endif %} />
                            {% if not edit %}
                                {{- pgettext('chapter_edit', 'Save chapter to drafts') -}}
                            {% elif not chapter.draft %}
                                {{- pgettext('chapter_edit', 'Move chapter to drafts') -}}
                            {% else %}
                                {{- pgettext('chapter_edit', 'Leave chapter in drafts') -}}
                            {% endif %}
                        </label>
                    </div>
                </div>

                {% if edit and current_user.is_staff -%}
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" name="minor" value="y"{% if form.data.minor %} checked{% endif %} />
                                Малое изменение (не обновлять дату последнего изменения рассказа и главы)
                            </label>
                        </div>
                    </div>
                {%- endif %}

                <div class="form-actions notop">
                {%- if not edit %}
                    <button type="submit" name="act" value="publish" class="btn btn-primary">{{ _('Add') }}</button>
                {%- else %}
                    <button type="submit" name="act" value="save" class="btn btn-primary">{{ _('Save changes') }}</button>
                {%- endif %}

                <button type="submit" name="act" value="preview" class="btn" id="chapter-preview-btn">{{ _('Preview') }}</button>
                <button disabled type="submit" name="act" value="preview" class="btn" id="chapter-preview-selected-btn">{{ _('Preview selected') }}</button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="span12" style="text-align: center">
        <div class="loader bell-popup-content-loading" id="chapter-preview-loading-img" style="display: none;"></div>
    </div>
    <div class="span12" id="chapter-preview">
    {%- if preview_html -%}
        {%- include 'includes/chapter_preview.html' -%}
    {%- elif chapter -%}
        {%- with story=chapter.story, chapter_edit_mode=True %}{% include "includes/chapter_single.html" %}{% endwith -%}
    {%- endif -%}
    </div>

    <div class="span12">
        {{- breadcrumbs([
            [url_for('author.info'), _("Author's cabinet")],
            [url_for('story.edit_chapters', pk=(story or chapter.story).id), 'Редактирование глав «{}»'.format((story or chapter.story).title)]
        ]) }}
    </div>
</div>
{% endblock %}

{%- block modal -%}
    {%- if linter_error_messages -%}
        {%- include 'includes/linter_modal.html' -%}
    {%- elif lint_ok -%}
        {%- include 'includes/linter_ok_modal.html' -%}
    {%- endif -%}
{%- endblock -%}
