{% extends "common.html" %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
    {{- breadcrumbs(
        [[url_for('story.view', pk=story.id), story.title]],
        current='Все главы' if allchapters else chapter.title
    ) }}
    </div>
    {% if allchapters %}
        <div class="span12 story-chapter-page">
            {% include "includes/story_panel.html" %}
            <h1>{{ story.title }}</h1>
            {% for chapter in chapters %}
                {% include "includes/chapter_single.html" %}
            {% endfor %}
        </div>
    {% else %}
        <div class="span12 story-chapter-page">
            {% include "includes/story_panel.html" %}
            {% include "includes/chapter_single.html" %}
        </div>
    {% endif %}
    <div class="span12">
    {{- breadcrumbs(
        [[url_for('story.view', pk=story.id), story.title]],
        current='Все главы' if allchapters else chapter.title
    ) }}
    </div>
</div>
{% endblock %}
