{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block title %}Некорректный CSRF-токен{% endblock %}
{% block content %}

<div class="row page-500">
    <div class="span12">
        {{- breadcrumbs(current='Некорректный CSRF-токен') }}
    </div>
    <div class="span12 message-500">
        <h1>Некорректный CSRF-токен</h1>
        <p>Не удалось обработать запрос, потому что возникли какие-то проблемы с проверкой CSRF-токена, необходимого для безопасности. Возможно, страница была открыта слишком долго; попробуйте обновить её и повторить запрос.</p>
    </div>
    <div class="span12">
        {{- breadcrumbs(current='Некорректный CSRF-токен') }}
    </div>
</div>
{% endblock %}
