{% extends base %}

{% from 'macro.html' import paginator with context %}

{% block fulltitle %}
    {%- if full_title -%}
        {{- full_title -}}
    {%- else -%}
        {{- super() -}}
    {%- endif -%}
{% endblock %}

{% block extrahead %}
    {{- super() }}
    {% if site_description -%}
        <meta name="description" content="{{ site_description }}" />
    {%- endif -%}
    <link rel="alternate" type="application/rss+xml" title="Новые рассказы &mdash; {{ SITE_NAME }}" href="{{ url_for('feeds.stories') }}" />
{% endblock %}

{% block content %}
<div class="row welcome-box">
  <div class="span12 genra">
    <ul class="mininav">
        <li class="mininav-item"><a href="{{ url_for('object_lists.top') }}">Лучшее</a></li>
        <li class="mininav-item"><a href="{{ url_for('tags.index') }}">Теги</a></li>
        {% if current_user.is_staff -%}
            <li class="mininav-item"><a href="{{ url_for('editlog.index', all='1', staff='1') }}">{{ _('Moderation log') }}</a></li>
        {% elif current_user.is_authenticated -%}
            <li class="mininav-item"><a href="{{ url_for('editlog.index') }}">{{ _('Edit log') }}</a></li>
        {% endif -%}
        <li class="mininav-item"><a href="{{ url_for('feeds.stories') }}" data-noajax="1">RSS</a></li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="span8 top-list">
        <h2>Новые рассказы</h2>
        {% include "includes/stories.html" %}
        {% if stories %}{{ paginator(page_obj) }}{% endif %}
    </div>

    <div class="span4 sidelist top-list">
        {% for sidebar_block_html in sidebar_blocks %}
            {{- sidebar_block_html|safe -}}
        {% endfor -%}
    </div>
</div>
{% endblock %}
