{% extends base %}

{% from 'macro.html' import atom_feed with context %}
{% from 'macro.html' import paginator with context %}

{% block fulltitle %}
    {%- if full_title -%}
        {{- full_title -}}
    {%- else -%}
        {{- super() -}}
    {%- endif -%}
{% endblock %}

{% block extrahead %}
    {{- super() }}
    {% if site_description -%}
        <meta name="description" content="{{ site_description }}" />
    {%- endif -%}
{% endblock %}

{% block feeds %}
    {{ atom_feed(url_for('feeds.stories'), _('New stories'), False) }}
{% endblock %}

{% block feeds_footer %}
    <li>{{ atom_feed(url_for('feeds.stories'), _('New stories'), True) }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span8 top-list">
        <h2>{{ _('New stories') }}</h2>
        {% include "includes/stories.html" %}
        {% if stories %}{{ paginator(page_obj) }}{% endif %}
    </div>

    <div class="span4 sidelist top-list">
        {% for sidebar_block_html in sidebar_blocks %}
            {{- sidebar_block_html|safe -}}
        {% endfor -%}
    </div>
</div>
{% endblock %}
