{% extends 'profile_edit_base.html' %}

{% block settings_content %}
<form id="general" method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% if saved -%}
        <div class="alert-mini green">Профиль успешно обновлён</div>
    {% endif -%}

    {% for field in form %}
        {% if field.widget.input_type == 'hidden' %}{{ field(id="profile_form_" + field.id) }}{% else %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            <label class="control-label">{{ field.label.text }}</label>
            <div class="controls">
                {{ field(id="profile_form_" + field.id) }}
                {% if field.errors and field.name != 'contacts' %}
                    {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    <span class="help-inline small">{{ field.description }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}{% endfor %}

    {% if non_field_errors %}
        <div class="control-group error">
            {% for error in non_field_errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{{ _('Save') }}</button>
    </div>
</form>
{% endblock %}
