{% extends 'profile_edit_base.html' %}

{% block settings_content %}
<form id="security" method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% if not user_is_current -%}
        <div class="alert alert-warning">
            Для смены чужого пароля используйте <a href="{{ url_for('admin_authors.update', pk=user.id) }}">страницу администрирования</a>.
        </div>
    {% endif -%}

    {% for field in password_form %}
        {% if field.widget.input_type == 'hidden' %}{{ field(id="password_form_" + field.id) }}{% else %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            <label class="control-label">{{ field.label.text }}</label>
            <div class="controls">
                {{ field(id="password_form_" + field.id) }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    <span class="help-inline small">{{ field.description }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}{% endfor %}

    {% if password_form_errors %}
        <div class="control-group error">
            {% for error in password_form_errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}

    {% if user_is_current -%}
        <div class="controls">
            <span class="help-inline">После смены пароля вы будете разлогинены на всех устройствах.</span>
        </div>
    {% endif -%}

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Сменить пароль</button>
    </div>
</form>
{% endblock %}
