{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs([[url_for('author.info'), 'Кабинет автора']]) }}
    </div>

    <div class="span12"{% if not story_add %} id="story_{{ story.id }}"{% endif %}>
        {%- if story_add %}
            <h1>{{ page_title }}</h1>
            {{- html_block('story_add') -}}
        {% else %}
            {% include 'includes/story_control_buttons.html' %}
            <h1>Редактирование <a class="invisible-link" href="{{ url_for('story.view', pk=story.id, _external=True) }}">«{{ story.title }}»</a></h1>
        {% endif -%}

        {% if saved %}<div class="alert-mini green">Изменения сохранены</div>{% endif %}
        {% if not_saved %}<div class="alert-mini alert-error">Изменения не сохранены, проверьте форму</div>{% endif %}

        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <fieldset>
                <legend>Параметры рассказа</legend>

                <!-- Название -->
                <div class="control-group{% if form.title.errors %} error{% endif %}">
                    {{ form.title.label(class_='control-label') }}
                    <div class="controls">{{ form.title }}
                        {% if form.title.errors %}
                            {% for error in form.title.errors %}
                        <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.title.description }}</span>
                        {% endif %}
                      </div>
                </div>
                {#
                <!-- Жанры -->
                <div class="control-group{% if form.categories.errors %} error{% endif %}">
                    {{ form.categories.label(class_='control-label', for=False) }}
                    <div class="controls genres-select">
                        {% if form.categories.errors %}
                            {% for error in form.categories.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-block small">{{ form.categories.description }}</span>
                        {% endif %}
                          {{ form.categories }}
                     </div>
                </div>
                #}
                <!-- Теги -->
                <div class="control-group{% if form.tags.errors %} error{% endif %}">
                    {{ form.tags.label(class_='control-label') }}
                    <div class="controls">
                        <div data-ti-autocomplete-url="{{ url_for('tags.autocomplete') }}"
                             data-ti-holder-name="tags"
                             data-ti-synthetic-tags
                             data-bazooka="storyTags">{{ form.tags }}</div>
                        {% if form.tags.errors %}
                            {% for error in form.tags.errors %}
                            {% if not loop.first %}<br/>{% endif %}
                        <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.tags.description }}</span>
                        {% endif %}
                      </div>
                </div>
                <!-- Персонажи -->
                {% if form.characters.choices %}
                <div class="control-group{% if form.characters.errors %} error{% endif %}">
                    {{ form.characters.label(class_='control-label', for=False) }}
                    <div class="controls characters-select">
                        {% if form.characters.errors %}
                            {% for error in form.characters.errors %}
                        <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-block small">{{ form.characters.description }}</span>
                        {% endif %}
                          {{ form.characters }}
                      </div>
                </div>
                {% endif %}
                <!-- Общее описание -->
                <div class="control-group{% if form.summary.errors %} error{% endif %}">
                    {{ form.summary.label(class_='control-label') }}
                    <div class="controls">{{ form.summary }}
                        {% if form.summary.errors %}
                            {% for error in form.summary.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.summary.description }}</span>
                        {% endif %}
                      </div>
                </div>
                <!-- Заметки к рассказу -->
                <div class="control-group{% if form.notes.errors %} error{% endif %}">
                    {{ form.notes.label(class_='control-label', for='id_notes') }}
                    <div class="controls">{{ form.notes }}
                        {% if form.notes.errors %}
                            {% for error in form.notes.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.notes.description }}</span>
                        {% endif %}
                      </div>
                </div>
                <!-- Оригинал -->
                <div class="control-group{% if form.original_url.errors %} error{% endif %}">
                    {{ form.original_url.label(class_='control-label') }}
                    <div class="controls">{{ form.original_url }}
                        {% if form.original_url.errors %}
                            {% for error in form.original_url.errors %}
                        <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.original_url.description }}</span>
                        {% endif %}
                      </div>
                </div>
                <div class="control-group{% if form.original_title.errors %} error{% endif %}">
                    {{ form.original_title.label(class_='control-label') }}
                    <div class="controls">{{ form.original_title }}
                        {% if form.original_title.errors %}
                            {% for error in form.original_title.errors %}
                        <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.original_title.description }}</span>
                        {% endif %}
                      </div>
                </div>
                <div class="control-group{% if form.original_author.errors %} error{% endif %}">
                    {{ form.original_author.label(class_='control-label') }}
                    <div class="controls">{{ form.original_author }}
                        {% if form.original_author.errors %}
                            {% for error in form.original_author.errors %}
                        <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.original_author.description }}</span>
                        {% endif %}
                      </div>
                </div>
                <!-- Рейтинг -->
                <div class="control-group{% if form.rating.errors %} error{% endif %}">
                    {{ form.rating.label(class_='control-label', for=False) }}
                    <div class="controls bootstrap radio">{{ form.rating }}
                        {% if form.rating.errors %}
                            {% for error in form.rating.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.rating.description }}</span>
                        {% endif %}
                      </div>
                </div>
                <!-- Оригинал/перевод -->
                <div class="control-group{% if form.original.errors %} error{% endif %}">
                    {{ form.original.label(class_='control-label', for=False) }}
                    <div class="controls bootstrap radio">{{ form.original }}
                        {% if form.original.errors %}
                            {% for error in form.original.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.original.description }}</span>
                        {% endif %}
                      </div>
                </div>

                <!-- Не завершен/завершен/заморожен -->
                <div class="control-group{% if form.status.errors %} error{% endif %}">
                    {{ form.status.label(class_='control-label', for=False) }}
                    <div class="controls bootstrap radio">{{ form.status }}
                        {% if form.status.errors %}
                            {% for error in form.status.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.status.description }}</span>
                        {% endif %}
                      </div>
                </div>
                {#
                <!-- События -->
                {% if form.classifications.choices %}
                <div class="control-group{% if form.classifications.errors %} error{% endif %}">
                    {{ form.classifications.label(class_='control-label', for=False) }}
                    <div class="controls events">
                        {% if form.classifications.errors %}
                            {% for error in form.classifications.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-block small">{{ form.classifications.description }}</span>
                        {% endif %}
                          {{ form.classifications }}
                      </div>
                </div>
                {% endif %}
                #}

                {% if current_user.is_staff -%}
                    <label style="display: inline;">{{ form.minor }} Малое изменение (не обновлять дату последнего изменения рассказа)</label>
                {%- endif %}

                <!-- Действия -->
                  <div class="form-actions">
                {% if story_edit %}
                    <button type="submit" class="btn btn-primary" name="act" value="save_story">Сохранить рассказ</button>
                {% else %}
                    <button type="submit" class="btn btn-primary" name="act" value="save_story">Добавить рассказ</button>
                {% endif %}
                  </div>

              </fieldset>

        </form>

        {% if story_edit %}
        {% if story.bl.can_edit_contributors(current_user) %}
            {%- include 'includes/story_edit_contributors_form.html' with context %}
        {% endif %}

        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <fieldset>
                      <legend>Главы</legend>
                      <div class="control-group">
                        <div class="controls events">
                            <ul id="sortable_chapters" class="chapters-control" data-story="{{ story.id }}">
                                {% for chapter in chapters %}
                                      <li id="chapter_{{ chapter.id }}" data-chapter="{{ chapter.id }}" class="btn btn-large">
                                        {{ chapter.autotitle }}
                                        <div class="btn-group">
                                            <a class="btn btn-mini publish-chapter-btn js-btn-publish-chapter{% if chapter.draft %} btn-primary{% endif %}" href="{{ url_for('chapter.publish', pk=chapter.id) }}">
                                                {{ 'опубликовать' if chapter.draft else 'в черновики' }}
                                            </a>
                                            <a class="btn btn-warning btn-mini" href="{{ url_for('chapter.edit', pk=chapter.id) }}">править</a>
                                            <a class="btn btn-danger btn-mini chapter_delete" href="{{ url_for('chapter.delete', pk=chapter.id) }}">удалить</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="{{ url_for('chapter.add', story_id=story.id) }}" class="btn btn-success">Добавить главу</a>
                        </div>
                    </div>
              </fieldset>
        </form>
        {% endif %}

        {% if story_edit and current_user.is_staff %}
            {%- include 'includes/story_edit_staff_form.html' with context %}
        {% endif %}
      </div>

    <div class="span12">
        {{- breadcrumbs([[url_for('author.info'), 'Кабинет автора']]) }}
      </div>
</div>
{% endblock %}
