{% extends base %}
{% from 'includes/story_buttons.html' import edit_buttons, delete_buttons with context %}

{% block content %}
<div class="row">
    <div class="span12"{% if not story_add %} id="story_{{ story.id }}"{% endif %}>
        <div class="icon-metagroup">
            {{ edit_buttons(story, with_edit=False) }}
            {{ delete_buttons(story) }}
        </div>
        <h1>Редактирование <a class="invisible-link" href="{{ url_for('story.view', pk=story.id, _external=True) }}">«{{ story.title }}»</a></h1>

        <ul class="nav nav-pills nav-simple">
            <li{% if story_tab == 'general' %} class="active"{% endif %}>
                <a href="{{ url_for('story.edit', pk=story.id) }}">{{ pgettext('story_edit_tab', 'General') }}</a>
            </li>
            <li{% if story_tab == 'chapters' %} class="active"{% endif %}>
                <a href="{{ url_for('story.edit_chapters', pk=story.id) }}">{{ pgettext('story_edit_tab', 'Chapters') }}</a>
            </li>
            {% if story.bl.can_edit_contributors(current_user) -%}
                <li{% if story_tab == 'contributors' %} class="active"{% endif %}>
                    <a href="{{ url_for('story.edit_contributors', pk=story.id) }}">{{ pgettext('story_edit_tab', 'Authors and access') }}</a>
                </li>
            {% endif -%}
            {% if current_user.is_staff -%}
                <li{% if story_tab == 'staff' %} class="active"{% endif %}>
                    <a href="{{ url_for('story.edit_staff', pk=story.id) }}">{{ pgettext('story_edit_tab', 'Administration') }}</a>
                </li>
            {% endif -%}
        </ul>

    </div>

    {% block story_edit_content %}{% endblock %}
</div>
{% endblock %}
