{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs([[url_for('author.info'), 'Кабинет автора']]) }}
    </div>

    <div class="span12">
            <h1>{{ page_title }}</h1>
            {{- html_block('story_add') -}}

        {% if not_saved %}<div class="alert-mini alert-error">Изменения не сохранены, проверьте форму</div>{% endif %}

        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <fieldset>
                {% include 'includes/story_edit_general_fields.html' %}

                <!-- Действия -->
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" name="act" value="save_story">Добавить рассказ</button>
                </div>

              </fieldset>

        </form>
      </div>

    <div class="span12">
        {{- breadcrumbs([[url_for('author.info'), 'Кабинет автора']]) }}
      </div>
</div>
{% endblock %}
