{% extends base %}
{% from 'macro.html' import atom_feed with context %}
{% from 'macro.html' import tag_link with context %}
{% from 'macro.html' import character_picture %}
{% from 'includes/story_buttons.html' import common_buttons, edit_buttons with context %}

{% block extrahead %}
    {{- super() }}
    {% if page_obj.has_previous() -%}
        <link rel="prev" href="{{ url_for('story.view', pk=story.id, comments_page=page_obj.number - 1, _external=True) }}" />
    {%- endif %}
    {% if page_obj.has_next() -%}
        <link rel="next" href="{{ url_for('story.view', pk=story.id, comments_page=page_obj.number + 1, _external=True) }}" />
    {%- endif %}
    {% if show_meta_description -%}
        <meta name="description" content="{{ story.summary|striptags }}" />
    {%- endif -%}
{% endblock %}

{% block feeds %}
    {% if story.status_string != 'finished' %}
        {{ atom_feed(url_for('feeds.story', story_id=story.id), story.title, False) }}
    {% endif %}
{% endblock %}

{% block feeds_footer %}
    {% if story.status_string != 'finished' %}
        <li>{{ atom_feed(url_for('feeds.story', story_id=story.id), story.title, True) }}</li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12 story-page{% if story.nsfw %} story-nsfw{% endif %}" id="story_{{ story.id }}">
        <div class="story-info" itemscope itemtype="http://schema.org/Book">
        <div class="icon-metagroup">
            {{ common_buttons(story, with_abuse=True) }}
            {{ edit_buttons(story) }}
        </div>
        <h1 id="story_title">
            <span itemprop="name"><a itemprop="url" class="invisible-link" href="{{ url_for('story.view', pk=story.id, _external=True) }}">{{ story.title }}</a></span>
            <span class="vote-area-1 js-vote-area-1-{{ story.id }}">
                {{- story.bl.vote_area_1_html(user=current_user, user_vote=vote)|safe -}}
            </span>{#
            #}<span class="js-vote-view-{{ story.id }}" style="display: inline;">
                {{- story.bl.vote_view_html(user=current_user, full=True)|safe -}}
            </span>
            {% include 'includes/story_marks.html' %}
        </h1>
        <div class="vote-area-2 js-vote-area-2-{{ story.id }}">
            {{- story.bl.vote_area_2_html(user=current_user, user_vote=vote)|safe -}}
        </div>
            <p class="story-genres">
                {%- set main_tags = story.bl.get_main_tags(sort=True) -%}
                {%- set more_tags = story.bl.get_more_tags(sort=True) -%}
                {% for st in main_tags %}
                    {{ tag_link(st.tag) -}}
                {% endfor %}
                {% if more_tags -%}
                    <a href="#" class="show-more-tags-link js-show-more-tags">показать все теги</a>
                    <span class="js-story-more-tags" style="display: none;">{% for st in more_tags %}
                        {{ tag_link(st.tag) -}}
                    {% endfor %}</span>
                {%- endif %}
            </p>
            <p class="character-list">
                {%- for character in story.characters.order_by('c.id') -%}
                    <a href="{{ url_for('search.simple', search_type='character', search_id=character.id) }}">{{ character_picture(character) }}</a>
                {%- endfor -%}
            </p>

        <p>{{ pgettext('story_written_by', 'Written by:') }} {% include 'includes/story_authors_list_microdata.html' %}</p>
        {% if contributors.editors -%}
            <p>{{ pgettext('story_info', 'Editors:') }} {% for u in contributors.editors -%}
                <a class="authorlink" href="{{ url_for('author.info', user_id=u.id) }}">{{ u.username }}</a>{% if not loop.last %}, {% endif -%}
            {% endfor %}</p>
        {%- endif %}
        {% if contributors.betas -%}
            <p>{{ pgettext('story_info', 'Beta readers:') }} {% for u in contributors.betas -%}
                <a class="authorlink" href="{{ url_for('author.info', user_id=u.id) }}">{{ u.username }}</a>{% if not loop.last %}, {% endif -%}
            {% endfor %}</p>
        {%- endif %}

        <div class="story-summary" itemprop="description">{{ story.summary_as_html }}</div>

        {% if story.notes %}
            <div>{{ pgettext('story_info', 'Story notes:') }}</div>
            <div class="story-notes">{{ story.notes_as_html }}</div>
        {% endif %}

        <blockquote class="more-info">
            <p><strong>{{ pgettext('story_info', 'Details and statistics') }}</strong></p>

            {% if story.original_url -%}
                <p class="story-source">
                    Оригинал: <a href="{{ story.original_url }}" target="_blank">
                        {{- story.original_title or story.original_url -}}
                    </a>
                    {%- if story.original_author %} <span title="Автор оригинала">({{ story.original_author }})</span>{% endif -%}
                </p>
            {%- endif %}

            <p>
                {{ pgettext('story_info', 'Rating') }} — <a href="{{ url_for('search.simple', search_type='rating', search_id=story.rating.id) }}">{{ story.rating.name }}</a><br/>

                {{ ngettext("%(num)d word", "%(num)d words", story.words) }}, {{ ngettext("%(num)d view", "%(num)d views", story.views) }}<br/>

                {% if not story.first_published_at or current_user.is_staff or story.bl.is_contributor(current_user) %}
                    {{ pgettext('story_info', 'Created at:') }} <time datetime="{{ story.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                        {{- story.date|datetimeformat(DEFAULT_DATE_FORMAT) -}}
                    </time>
                    {%- if not story.first_published_at %}, {{ pgettext('story_info', 'last update') }} – <time datetime="{{ story.updated.strftime('%Y-%m-%dT%H:%M:%SZ') }}" title="{{ story.updated|datetimeformat(DEFAULT_DATETIME_FORMAT) }}">
                        {{- story.updated|timesince }}
                    </time>{% endif %}<br/>
                {% endif %}
                {% if story.first_published_at %}
                    {{ pgettext('story_info', 'Published at:') }} <time itemprop="datePublished" datetime="{{ story.first_published_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                        {{- story.first_published_at|datetimeformat(DEFAULT_DATE_FORMAT) -}}
                    </time>, {{ pgettext('story_info', 'last update') }} – <time itemprop="dateModified" datetime="{{ story.updated.strftime('%Y-%m-%dT%H:%M:%SZ') }}" title="{{ story.updated|datetimeformat(DEFAULT_DATETIME_FORMAT) }}">
                        {{- story.updated|timesince }}
                    </time><br/>
                {%- endif -%}

                {% if favorites_count > 0 %}
                <a href="{{ url_for('story.favorites', pk=story.id) }}">{{ ngettext("Added to favorites by %(num)d user", "Added to favorites by %(num)d users", favorites_count) }}</a><br/>
                {% endif %}
            </p>

            {% if not story.finished and chapter_subscriptions_count > 0 -%}
                <p title="Число пользователей, подписавшихся на новые главы">{{ ngettext("%(num)d user waiting for the continuation", "%(num)d users are waiting for the continuation", chapter_subscriptions_count) }}</p>
            {%- endif %}

            {% if current_user.is_authenticated -%}
            <form method="POST" action="{{ url_for('story.subscribe', pk=story.id) }}" class="subscription-form js-subscription-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {{ _('Subscribe to new chapters') }}:
                <label><input type="checkbox" name="email" value="1"{% if sub.email %} checked{% endif %} /> {{ pgettext('notification_target', 'email') }}</label>
                <label><input type="checkbox" name="tracker" value="1"{% if sub.tracker %} checked{% endif %} /> {{ pgettext('notification_target', 'website') }}</label>
                <button type="submit" class="btn btn-mini js-subscription-form-submit">{{ _('Save') }}</button>
            </form>
            {%- endif %}
        </blockquote>
        </div><!-- /story-info -->

        <div class="story-chapters">
            {% if not show_first_chapter and chapters|length > 0 %}
                <h2>{{ pgettext('story_contents', 'Contents') }}</h2>
                {% include "includes/story_panel.html" %}
                <ul class="story-chapters-list">
                {%- for chapter in chapters %}
                    <li>
                        <h4>
                            <a href="{{ url_for('chapter.view', story_id=story.id, chapter_order=chapter.order) }}">
                                {{- chapter.autotitle -}}
                            </a>
                            {%- set viewed_at = chapter.bl.is_viewed_by(current_user) -%}
                            {%- if viewed_at %} <i class="chapter-viewed-icon" title="Вы просматривали эту главу {{ viewed_at|datetimeformat(DEFAULT_DATETIME_FORMAT) }}"></i>{% endif %}
                            {%- if chapter.draft %} <sup class="story-mark draft">{{ pgettext('story_mark', 'draft') }}</sup>{% endif %}
                            {% if story.bl.editable_by(current_user) %}<sup><a class="edit-link" href="{{ url_for('chapter.edit', pk=chapter.id) }}">{{ pgettext('chapter_edit', 'Edit') }}</a></sup>{% endif %}
                        </h4>

                      {%- if chapter.first_published_at %}
                      <time datetime="{{ chapter.first_published_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                        {{- chapter.first_published_at|datetimeformat(DEFAULT_DATE_FORMAT) -}}
                      </time>
                      {%- else %}
                      <time datetime="{{ chapter.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                        {{- chapter.date|datetimeformat(DEFAULT_DATE_FORMAT) -}}
                      </time>
                      {%- endif -%},
                      {{ ngettext("%(num)d word", "%(num)d words", chapter.words) }}, {{ ngettext("%(num)d view", "%(num)d views", chapter.views) }}
                    </li>
                {%- endfor %}
                </ul>
            {% elif show_first_chapter %}
              {% with chapter=chapters[0] %}
                {% include "includes/story_panel.html" %}
                {% with is_last_chapter=True %}
                    {%- include "includes/chapter_single.html" -%}
                {% endwith %}
              {% endwith %}
            {% endif %}
        </div>

        {% if current_user.is_staff or story.bl.is_contributor(current_user) %}
            <h3 style="margin-bottom: 24px;"><a href="{{ url_for('story_local_comment.view', story_id=story.id) }}">
                Комментарии бета-читателей и редакторов ({{ local_comments_count }})</a>
            {%- if new_local_comments_count > 0 %} <span class="green">(+{{ new_local_comments_count }})</span>{% endif %}</h3>
        {% endif %}

        <!-- Вывод комментариев: начало -->
        <div id="comments">
            <h3>Комментарии (<span id="comments-count">{{ comments_count }}</span>)</h3>
            {% if current_user.is_authenticated %}
                <form method="POST" action="{{ url_for('story.comments_subscribe', pk=story.id) }}" class="subscription-form js-subscription-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    Получать новые:
                    <label><input type="checkbox" name="email" value="1"{% if sub_comments.email %} checked{% endif %} /> в почте</label>
                    <label><input type="checkbox" name="tracker" value="1"{% if sub_comments.tracker %} checked{% endif %} /> на сайте</label>
                    <button type="submit" class="btn btn-mini js-subscription-form-submit">Сохранить</button>
                </form>
            {% endif %}
            <div id="comments-tree" class="comments-tree">
                {% if comments_count > 0 %}
                    {%- include 'includes/comments_tree.html' -%}
                {%- endif %}
            </div>
            <div id="comments-pagination" class="pagination center">
                {% if comments_count > 0 %}
                    {%- include 'includes/comments_pagination_story.html' -%}
                {%- endif %}
            </div>
        </div>

        {% set comment_reqs = story.bl.access_for_commenting_by(current_user) %}
        {% if comment_reqs %}
            <a href="{{ url_for('story_comment.add', story_id=story.id) }}" id="comment-add-link" class="comment-add-link">Добавить новый комментарий</a>

            <form id="comment-form" class="comment-form" method="POST" enctype="multipart/form-data" action="{{ url_for('story_comment.add', story_id=story.id) }}">
            {% from 'macro.html' import comment_form_content with context %}
            {{ comment_form_content(comment_form, 'story', story.id, preview_html=preview_html, reqs=comment_reqs) }}
            </form>
        {% elif story.comments_mode == 'off' %}
        <h3 id="banned">Комментарии в этом рассказе отключены</h3>
        {% elif not story.published %}
        <h3 id="banned">В неопубликованном рассказе нельзя добавлять комментарии</h3>
        {% elif current_user.is_authenticated %}
        <h3 id="banned">К сожалению, Вы не можете добавлять комментарии</h3>
        {% else %}
        <a href="{{ url_for('auth.login', next=url_for('story.view', pk=story.id)) }}">Авторизуйтесь</a> для отправки комментария.
        {% endif %}
        <!-- Вывод комментариев: конец -->
    </div>
</div>
{% endblock %}

{%- block modal -%}
    {%- if story.nsfw and not current_user.nsfw -%}
        {%- include 'includes/nsfw_modal.html' -%}
    {%- endif -%}
{%- endblock -%}
