{% extends base %}
{% from 'macro.html' import comment_html with context %}
{% block content %}
<div class="row">
    <div class="span8">
    <h1>{{ page_title }}</h1>


    <div class="comment-item" id="{{ comment.local_id }}">
    {{ comment_html(comment, with_controls=False, with_vote=False) }}
    </div>

    <form method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-danger" value="Восстановить комментарий">
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
