{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}

{%- block head_js %}
    {{ super() }}
    {% set editor_js, story_js = webpack_asset('editor.js'), webpack_asset('story.js') %}
    <script defer src="{{ url_for('static', filename='build/{}'.format(editor_js.src)) }}" integrity="{{ editor_js.integrity }}" crossorigin="anonymous"></script>
    <script defer src="{{ url_for('static', filename='build/{}'.format(story_js.src)) }}" integrity="{{ story_js.integrity }}" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs([[url_for('author.info'), _("Author's cabinet")]]) }}
    </div>

    <div class="span12">
            <h1>{{ page_title }}</h1>
            {{- html_block('story_add') -}}

        {% if not_saved %}<div class="alert-mini alert-error">{{ _('Changes are not saved, check the form') }}</div>{% endif %}

        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <fieldset>
                {% include 'includes/story_edit_general_fields.html' %}

                <!-- Действия -->
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" name="act" value="save_story">{{ _('Add story') }}</button>
                </div>

              </fieldset>

        </form>
      </div>

    <div class="span12">
        {{- breadcrumbs([[url_for('author.info'), _("Author's cabinet")]]) }}
      </div>
</div>
{% endblock %}
