{% extends "common.html" %}
{% block content %}
<div class="row">
    <div class="span8">
    <ul class="breadcrumb">
      <li><a href="{{ url_for('index.index') }}">{{ SITE_NAME }}</a> <span class="divider">/</span></li>
      <li class="active">{{ page_title }}</li>
    </ul>
        <h2>{{ page_title }}</h2>
        {% block before_list %}{% endblock %}
        <div id="stories-list">
            {% include "includes/stories.html" %}
        </div>
        {% block after_list %}{% endblock %}
    <ul class="breadcrumb">
      <li><a href="{{ url_for('index.index') }}">{{ SITE_NAME }}</a> <span class="divider">/</span></li>
      <li class="active">{{ page_title }}</li>
    </ul>
    </div>
</div>
{% endblock %}
