{% extends base %}
{% block content %}
<div class="row">
    <div class="span8">
        <h1>{{ story.title }}</h1>

        <div>
            {{ ngettext("Added to favorites by %(num)d user", "Added to favorites by %(num)d users", favorites_count) }}:<br/>
            {% for fav in favorites -%}
                {%- with user=fav.author %}{% include 'includes/userlink.html' %}{% endwith -%}
                {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
        </div>
    </div>
</div>
{% endblock %}
