{% extends base %}
{% from 'macro.html' import breadcrumbs with context %}
{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs([
            [url_for('admin_index.index'), _('Administration')],
            [url_for('admin_logopics.index'), _('Header pictures')],
            [url_for('admin_logopics.update', pk=logopic.id), logopic.id]
        ]) }}
    <h1>{{ logopic.name }}</h1>

    <p>Удалить эту картинку?</p>

    <form method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
            </div>
        </div>
    </form>
        {{- breadcrumbs([
            [url_for('admin_index.index'), _('Administration')],
            [url_for('admin_logopics.index'), _('Header pictures')],
            [url_for('admin_logopics.update', pk=logopic.id), logopic.id]
        ]) }}
    </div>
</div>
{% endblock %}
