.markItUp .edit-bold a			{background-image:url(images/edit-bold.png);}
.markItUp .edit-italic a		{background-image:url(images/edit-italic.png);}
.markItUp .edit-strike a		{background-image:url(images/edit-strike.png);}
.markItUp .edit-underline a		{background-image:url(images/edit-underline.png);}

.markItUp .edit-h3 a			{background-image:url(images/edit-h3.png);}
.markItUp .edit-h4 a			{background-image:url(images/edit-h4.png);}
.markItUp .edit-h5 a			{background-image:url(images/edit-h5.png);}

.markItUp .edit-alignment-left a        {background-image:url(images/edit-alignment-left.png);}
.markItUp .edit-alignment-center a      {background-image:url(images/edit-alignment-center.png);}
.markItUp .edit-alignment-right a       {background-image:url(images/edit-alignment-right.png);}

.markItUp .edit-hr a			{background-image:url(images/edit-hr.png);}
.markItUp .edit-br a			{background-image:url(images/edit-br.png);}

.markItUp .edit-image a			{background-image:url(images/edit-image.png);}
.markItUp .edit-anchor a		{background-image:url(images/edit-anchor.png);}

.markItUp .edit-list a			{background-image:url(images/edit-list.png);}
.markItUp .edit-list-order a		{background-image:url(images/edit-list-order.png);}
.markItUp .edit-list-item a		{background-image:url(images/edit-list-item.png);}

.markItUp .edit-quotation a		{background-image:url(images/edit-quotation.png);}
.markItUp .edit-superscript a		{background-image:url(images/edit-superscript.png);}
.markItUp .edit-subscript a		{background-image:url(images/edit-subscript.png);}
.markItUp .edit-code a			{background-image:url(images/edit-code.png);}
.markItUp .edit-small a			{background-image:url(images/edit-small.png);}

.markItUp .edit-tag a			{background-image:url(images/edit-tag.png);}