{% macro nav_item(title, link, match_endpoint=None, matched=None, noajax=False) -%}
    {%- if matched == None -%}
        {%- set matched = match_endpoint != None and request.endpoint != None and (request.endpoint == match_endpoint or match_endpoint.endswith('.') and request.endpoint.startswith(match_endpoint)) -%}
    {%- endif -%}
    <li {% if matched %}class="active"{%- endif -%}><a href="{{ link }}"{% if noajax %} data-noajax="1"{% endif %}>{{ title }}</a></li>
{%- endmacro %}

{% macro user_avatar(user) -%}
    {%- set avatar = user.bundle -%}
    {% if avatar %}
        <picture>
            <source srcset="{{ url_for('media', filename=avatar.x32.webp) }} 1x,
                            {{ url_for('media', filename=avatar.x48.webp) }} 1.5x,
                            {{ url_for('media', filename=avatar.x64.webp) }} 2x,
                            {{ url_for('media', filename=avatar.x128.webp) }} 3x"
                    type="image/webp">
            <source srcset="{{ url_for('media', filename=avatar.x32.png) }} 1x,
                            {{ url_for('media', filename=avatar.x48.png) }} 1.5x,
                            {{ url_for('media', filename=avatar.x64.png) }} 2x,
                            {{ url_for('media', filename=avatar.x128.png) }} 3x"
                    type="image/png">
            <img src="{{ url_for('media', filename=avatar.x32.jpeg) }}"
                 width="32"
                 height="32"
                 alt="{{ user.username }}"
                 title="{{ user.username }}">
        </picture>
    {% else %}
        <span><i class="fas fa-user-alt fa-lg"></i></span>
    {% endif %}
{%- endmacro %}

{% macro tag_link(tag) -%}
    {# FIXME rework tag color #}
    <a {%- if tag.get_color() %} style="background-color: {{- tag.get_color() -}}"{%- endif %}
       href="{{ url_for('tags.tag_index', tag_name=tag.iname) }}">
        {{- tag.name -}}
    </a>
{%- endmacro %}

{% macro character_picture(character) -%}
    <picture>
        <source srcset="{{ url_for('media', filename=character.bundle.x32.webp) }}"
                sizes="32px"
                type="image/webp">
        <source srcset="{{ url_for('media', filename=character.bundle.x32.png) }}"
                sizes="32px"
                type="image/png">
        <img src="{{ url_for('media', filename=character.bundle.x32.jpeg) }}"
             width="32"
             height="32"
             alt="{{ character.name }}"
             title="{{ character.name }}">
    </picture>
{%- endmacro %}
