{% macro nav_item(title, link, match_endpoint=None, matched=None, right=False, noajax=False) -%}
    {%- if matched == None -%}
        {%- set matched = match_endpoint != None and request.endpoint != None and (request.endpoint == match_endpoint or match_endpoint.endswith('.') and request.endpoint.startswith(match_endpoint)) -%}
    {%- endif -%}
    <li class="{{ 'active ' if matched else '' }}{{ 'right ' if right else '' }}"><a href="{{ link }}"{% if noajax %} data-noajax="1"{% endif %}>{{ title }}</a></li>
{%- endmacro %}

{# FIXME #}
{% macro user_avatar(user) -%}
    {%- set avatar = user.bl.get_avatar_url() -%}
    <div class="user-avatar-container {% if not avatar %}user-avatar-placeholder{% endif %}">
    {% if avatar %}
        <img src="{{ avatar }}" title="{{ user.username }}" alt="{{ user.username }}"/>
    {% endif %}
    </div>
{%- endmacro %}

{% macro tag_link(tag) -%}
    {# FIXME rework tag color #}
    <a {%- if tag.get_color() %} style="background-color: {{- tag.get_color() -}}"{%- endif %}
       href="{{ url_for('tags.tag_index', tag_name=tag.iname) }}">
        {{- tag.name -}}
    </a>
{%- endmacro %}
