{%- from 'experimental/macro.html' import nav_item, user_avatar -%}
{%- set next_url = (url_for(request.endpoint, **request.view_args) if request.endpoint and not request.endpoint.startswith('auth.') and request.view_args != None else None) -%}

<div class="roof navigation">
    <nav aria-label='External links'>
        {{ html_block('experimental_header') }}
    </nav>
    <nav aria-label='User link'>
        <ul class="dropdown__title">
            <span>{{ current_user.username }}</span>
            {%- if current_user.is_authenticated %}
                <li class="dropdown">
                    <div class="dropdown__title"
                         aria-expanded="false"
                         aria-controls="profile-dropdown">
                        {{- user_avatar(current_user, large=True) }}
                    </div>
                    <ul class="dropdown__menu" id="profile-dropdown">
                        {{ nav_item(
                        _('Favorites'),
                        url_for('object_lists.favorites', user_id=current_user.id),
                        matched=is_current_endpoint('object_lists.favorites', user_id=current_user.id)
                    ) }}
                        {{ nav_item(_('Read later'), url_for('object_lists.bookmarks'), 'object_lists.bookmarks') }}
                        {{ nav_item(_('Settings'),url_for('author.edit_general'), matched=is_current_endpoint('author.edit_general')) }}
                        {{ nav_item(_('My profile'),url_for('author.info', user_id=current_user.id), matched=is_current_endpoint('author.info', user_id=current_user.id)) }}
                        {{ nav_item(_("Author's cabinet"),url_for('author.info'), matched=is_current_endpoint('author.info', user_id=None)) }}
                        {% if current_user.is_staff %}
                            {{ nav_item(_('Administration'),url_for('admin_index.index'),'admin_index.index') }}
                        {% endif %}
                        {{ nav_item(_('Log out'), url_for('auth.logout', next=next_url), noajax=True) }}
                    </ul>
                </li>
            {%- else -%}
                {{ nav_item(_('Log in'), url_for('auth.login', next=next_url), 'auth.login') }}
                {%- if config.REGISTRATION_OPEN %}
                    {{ nav_item(_('Register'), url_for('auth.registration'), 'auth.registration') }}
                {% endif %}
            {%- endif -%}
        </ul>
    </nav>
</div>
{%- if current_user.header_mode != 'off' -%}
    {%- set logo = get_current_logopic() -%}
    {%- set logo_label = logo.original_link_label.get(g.locale.language) or logo.original_link_label.get('', '') -%}
    {% if logo -%}
        <div class="logopic" style="background-image: url('{{  url_for('media', filename=logo.bundle.x1194.webp) }}')">
            {% if logo.original_link and logo.original_link_label -%}
                <a rel="noopener noreferrer" href="{{ logo.original_link }}" class="logopic__link" target="_blank">{{ logo_label }}</a>
            {%- endif %}
            {%- if current_user.header_mode == '' or current_user.header_mode == 'ls' -%}
                <div data-bazooka="StoriesCarousel" id="slides">
                    {{ experimental_random_stories() }}
                </div>
            {%- endif %}
        </div>
    {% endif -%}
{%- endif -%}

<div class="navigation">
    {% include 'experimental/includes/nav.html' %}
</div>

{# FIXME #}
{#{% include 'includes/important_notifications.html' %}#}
