{%- from 'experimental/macro.html' import nav_item -%}

<nav aria-label='Primary links'>
    <ul>
        {{ nav_item(pgettext('best_stories', 'Best'), url_for('object_lists.top', period='7'), match_endpoint='object_lists.top') }}
        {{ nav_item(gettext('Tags'), url_for('tags.index'), match_endpoint='tags.index') }}
        {{ nav_item(_('Search'), url_for('search.main'), 'search.') }}

        {% if current_user.is_staff -%}
            {{ nav_item('Новые ({})'.format(submitted_stories_count()), url_for('object_lists.submitted'), match_endpoint='object_lists.submitted') }}
            {{ nav_item(gettext('Moderation log'), url_for('editlog.index', all='1', staff='1'), match_endpoint='editlog.index') }}
            {% with abuse_count=unread_abuse_reports_count() %}{% if abuse_count > 0 %}
                {{ nav_item('Жалобы ({})'.format(abuse_count), url_for('admin_abuse_reports.index'), match_endpoint='admin_abuse_reports.') }}
            {% endif %}{% endwith %}
        {% elif current_user.is_authenticated -%}
            {{ nav_item(gettext('Edit log'), url_for('editlog.index'), match_endpoint='editlog.index') }}{% endif -%}
        {{ hook('nav') }}
    </ul>
</nav>
{%- if current_user.is_authenticated %}
    <nav aria-label='Personal links'>
        <ul>
            <li>
                <a href="{{ url_for('story.add') }}" class="{% if is_current_endpoint('story.add') %} active{% endif %}"
                   title="{{ _('Add story') }}">
                    <i class="fas fa-plus fa-lg"></i>
                </a>
            </li>
            {% set notifications_count = get_unread_notifications_count() %}
            <li>
                {# TODO: Add real bell widget #}
                <a href="{{ url_for('notifications.index') }}">
                    <i class="fas fa-bell fa-lg"
                       {% if notifications_count >0 %}data-count="{{ notifications_count }}"{% endif %}></i>
                </a>
            </li>
        </ul>
    </nav>
{%- endif -%}

