{% extends base %}
{% from 'macro.html' import paginator, breadcrumbs with context %}

{% block content %}
<div class="row">
    <div class="span12">
        {{- breadcrumbs([[url_for('tags.index'), 'Теги']]) }}
    </div>
</div>

<div class="row"><div class="span8">
    <div class="tag-page">
        <a class="gen" href="{{ url_for('tags.tag_index', tag_name=tag.iname) }}"{% if tag.get_color() %} style="background-color: {{ tag.get_color() }}"{% endif %}>
            {{- tag.name -}}
        </a><br/>
        <span class="tag-stories-count">{{ ngettext("%(num)d story", "%(num)d stories", tag.published_stories_count) }}</span>
        {% if aliases -%}
            <br/>
            <span class="tag-aliases">Синонимы: {% for alias in aliases -%}
                {{ alias }}{% if not loop.last %}, {% endif -%}
            {%- endfor -%}
            </span>
        {% endif -%}
        <div class="tag-description">{{ tag.description|safe }}</div>
    </div>

    <div id="stories-list">
        {% include "includes/stories.html" %}
    </div>

    {% if stories %}{{ paginator(page_obj) }}{% endif %}
</div></div>

<div class="row">
    <div class="span12">
        {{- breadcrumbs([[url_for('tags.index'), 'Теги']]) }}
    </div>
</div>
{% endblock %}
