/* Code */

code {
    background: var(--color-complementary-lightest);
    border-radius: var(--default-border-radius);
    font-size: smaller;
    font-family: monospace;
    white-space: nowrap;
    padding: var(--small-padding) calc(var(--small-padding) * 2);
    max-width: fit-content;
}

pre {
    background: var(--color-complementary-lightest);
    border-left: 0.3rem solid var(--color-complementary-dark);
    overflow-y: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    padding: var(--default-padding) var(--big-padding);
    font-family: monospace;
    max-width: fit-content;

    & > code {
        border-radius: 0;
        display: block;
        padding: var(--default-padding) var(--big-padding);
        white-space: pre;
    }
}
