/* Divider */

hr {
    border: 0;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    text-align-last: center;
    color: var(--color-grey-darkest);
}

hr::after {
    content: "* * *";
}
