table {
    border-spacing: 0;
    display: block;
    overflow-x: auto;
    text-align: left;
    width: 100%;

    & caption {
        font-size: large;
    }
}

td,
th {
    border-bottom: var(--thin-line) solid var(--color-complementary-dark);
    padding: var(--big-padding) var(--big-padding);

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

/* FIXME media query */
@media (min-width: 40rem) {
    table {
        display: table;
        overflow-x: initial;
    }
}
