:root {
    /* Color */
    --color-primary: #2A489C;
    --color-primary-light: #495F9C;
    --color-primary-dark: #1D2A4F;

    --color-complementary-lighter: #ACA79B;
    --color-complementary-lightest: #E8E1D1;
    --color-complementary-light: #9C771A;
    --color-complementary-dark: #4F411D;

    /* Light complementary hues */
    --color-complementary-1-hex: #9C8A5D;
    --color-complementary-2-hex: #E8CE8B;
    --color-complementary-5-hex: #695D3F;

    --color-background: #c5ccfe;
    --color-links-roof-primary: #cdcae9;
    --color-links-roof-secondary: #fafae8;

    --color-white: #fff;
    --color-grey-lightest: #f6f6f6;
    --color-grey-lighter: #e4e6eb;
    --color-grey: #b0b3b8;
    --color-grey-dark: #555;
    --color-grey-darker: #3a3b3c;
    --color-grey-darkest: #242526;
    --color-black: #18191A;

    /* Fonts */
    --font-family-serif: Georgia, Times, serif;
    --font-family-sans: Arial, sans-serif;

    /* Dimensions */
    --max-width: 75em;  /* 87.5em; */
    --min-height: 100vh;
    --roof-height: 5em;
    --footer-height: 3em;

    /* Views */
    --default-border-radius: .25em;
    --default-padding: .4em;

    --small-border-radius: calc(var(--default-border-radius) / 2);
    --small-padding: calc(var(--default-padding) / 2);

    --big-border-radius: calc(var(--default-border-radius) * 2);
    --big-padding: calc(var(--default-padding) * 2);

    /* Slider */
    --slides-height: 13em;
    --slides-border: 1em;
    --max-lines: 4;
    --bullets-size: 1em;

    /* Notifications */
    --counter-base-size: .6em;

    /* Transitions */
    --default-transition-duration: .3s;
    --fast-transition-duration: calc(var(--default-transition-duration) / 2);
    --slow-transition-duration: calc(var(--default-transition-duration) * 2);
}
