:root {
    /* Main palette */
    --color-primary-light:   hsl(224, 36%, 45%);
    --color-primary-lighter: hsl(224, 56%, 45%);
    --color-primary:         hsl(224, 56%, 39%);
    --color-primary-dark:    hsl(224, 46%, 28%);
    --color-primary-darkest: hsl(224, 46%, 21%);
    --color-primary-lighter-translucent: hsla(224, 56%, 45%, 0.5);

    --color-complementary-lightest: hsl(43, 33%, 86%);
    --color-complementary-lighter:  hsl(43, 33%, 64%);
    --color-complementary-light:    hsl(43, 71%, 36%);
    --color-complementary-dark:     hsl(43, 46%, 21%);

    --color-complementary-dark-translucent: hsla(43, 46%, 21%, 0.5);

    /* Button colors */
    --color-success-lighter: hsl(85, 65%, 38%);
    --color-success:         hsl(85, 65%, 30%);
    --color-success-lighter-translucent: hsla(85, 65%, 38%, 0.5);

    --color-warning-lighter: hsl(35, 75%, 53%);
    --color-warning:         hsl(35, 75%, 41%);
    --color-warning-lighter-translucent: hsla(35, 75%, 53%, 0.5);

    --color-danger-lighter:  hsl(11, 56%, 40%);
    --color-danger:          hsl(11, 56%, 34%);
    --color-danger-lighter-translucent: hsla(11, 56%, 40%, 0.5);

    /* Grey colors */
    --color-white:         hsl(210, 2%, 100%);
    --color-grey-lightest: hsl(210, 2%, 96%);
    --color-grey-lighter:  hsl(210, 2%, 91%);
    --color-grey:          hsl(210, 2%, 71%);
    --color-grey-dark:     hsl(210, 2%, 45%);
    --color-grey-darker:   hsl(210, 2%, 23%);
    --color-grey-darkest:  hsl(210, 2%, 15%);
    --color-black:         hsl(210, 2%, 10%);
    --color-grey-dark-translucent: hsla(210, 2%, 45%, 0.5);

    /* Background colors */
    --color-background: hsl(224, 97%, 88%);
    --color-links-roof-primary: hsl(224, 41%, 88%);

    /* Fonts */
    --font-family-serif: Georgia, Times, serif;
    --font-family-sans: Arial, sans-serif;

    /* Dimensions */
    --max-width: 75em;  /* 87.5em; */
    --min-height: 100vh;
    --roof-height: 5em;
    --footer-height: 3em;

    /* Views */
    --default-border-radius: .25em;
    --default-padding: .4em;

    --small-border-radius: calc(var(--default-border-radius) / 2);
    --small-padding: calc(var(--default-padding) / 2);
    --smallest-padding: calc(var(--default-padding) / 3);

    --big-border-radius: calc(var(--default-border-radius) * 2);
    --big-padding: calc(var(--default-padding) * 2);

    --thin-line: .1rem;

    /* Slider */
    --slides-height: 13em;
    --slides-border: 1em;
    --max-lines: 4;
    --bullets-size: 1em;

    /* Notifications */
    --counter-base-size: .6em;

    /* Transitions */
    --default-transition-duration: .3s;
    --fast-transition-duration: calc(var(--default-transition-duration) / 2);
    --slow-transition-duration: calc(var(--default-transition-duration) * 2);
}
