{
  "sourceMaps": true,
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ]
}
