{% extends base %}
{% from 'macro.html' import paginator with context %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>

        <ul>
        {% for rp in registrations %}
            <li>
                {% if rp.activated_by_user %}
                    <span title="Подтверждено">✅</span>
                {% elif rp.is_expired() %}
                    <span title="Истёкло время ожидания">🚫</span>
                {% else %}
                    <span title="Ожидает подтверждения">⏳</span>
                {% endif %}
                <a href="{{ url_for('admin_registrations.update', pk=rp.id) }}">{{ rp.username }} ({{ rp.email }})</a>
                ({{ rp.created_at|datetimeformat(DEFAULT_DATETIME_FORMAT) }})
            </li>
        {% endfor %}
        </ul>

        {{ paginator(page_obj) }}
    </div>
</div>
{% endblock %}
