{% extends base %}
{% from 'macro.html' import breadcrumbs, paginator with context %}
{% block content %}

<div class="row">
    <div class="span12">
        {{- breadcrumbs([[url_for('admin_index.index'), _('Administration')]]) }}
        <h1>{{ page_title }}</h1>

        <ul>
        {% for rp in registrations %}
            <li><a href="{{ url_for('admin_registrations.update', pk=rp.id) }}">{{ rp.username }} ({{ rp.email }})</a> ({{ rp.created_at|datetimeformat(DEFAULT_DATETIME_FORMAT) }})</li>
        {% endfor %}
        </ul>

        {{ paginator(page_obj) }}

        {{- breadcrumbs([[url_for('admin_index.index'), _('Administration')]]) }}
    </div>
</div>
{% endblock %}
