{% extends base %}
{% from 'macro.html' import user_avatar, form_fields with context %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>{{ page_title }}</h1>

        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="control-group">
            <label class="control-label">{{ _('Username') }}</label>
            <div class="controls"><span style="display: inline-block; padding-top: 5px;">
                {{ rp.username }}
            </span></div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('E-mail') }}</label>
            <div class="controls"><span style="display: inline-block; padding-top: 5px;">
                {{ rp.email }}
        </span></div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Created at') }}</label>
            <div class="controls">
                <span style="display: inline-block; padding-top: 5px;">
                    <time datetime="{{ rp.created_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                        {{ rp.created_at|datetimeformat(DEFAULT_DATETIME_FORMAT) }}
                    </time>
                </span>
            </div>
        </div>

        {% if rp.activated_by_user -%}
        <div class="control-group">
            <label class="control-label">{{ _('Activated by user') }}</label>
            <div class="controls">
                {{ user_avatar(rp.activated_by_user) }}
                <a href="{{ url_for('admin_authors.update', pk=rp.activated_by_user.id) }}">
                    {{- rp.activated_by_user.username -}}
                </a>
            </div>
        </div>
        {% endif -%}

        {% if not too_old %}
            <div class="controls">
                <button type="submit" name="act" value="activate" class="btn btn-primary">{{ _('Activate') }}</button>

                <a href="{{ url_for('admin_registrations.delete', pk=rp.id) }}" class="btn">
                    {{ _('Delete') }}
                </a>
            </div>
        {% endif %}

        <div class="controls">
            <a href="{{ url_for('admin_registrations.index') }}">Вернуться к списку регистраций</a>
        </div>
        </form>
    </div>
</div>
{% endblock %}
